<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="bg-white card" style=" margin-bottom:0px;">
        <div class="d-flex">
          <div class="" style="width:17rem; min-width:17rem; min-height:95vh; border-right: 1px solid #eee">
            <div class="pt-4 px-4 mr-1">
              <h5 class="my-0">Simplify Email</h5>
            </div>
            <div class="py-4 px-4 mr-1">
              <button class="btn btn-outline-info btn-block">Compose</button>
            </div>
            <div class="inbox-menu text-secondary">
              <ul class="list-nav sidebar-nav list-nav-light">
                  <li class="list-nav-item active">
                    <a class="list-nav-link d-flex align-items-center">
                        <i class="fa fa-inbox" style=""></i><span class="list-nav-label">Inbox</span>
                    </a>
                  </li>
                  <li class="list-nav-item">
                    <a class="list-nav-link d-flex align-items-center">
                        <i class="fa fa-folder " style=""></i><span class="list-nav-label">Drafts</span>
                    </a>
                  </li>
                  <li class="list-nav-item">
                    <a class="list-nav-link d-flex align-items-center">
                        <i class="fa fa-inbox" style=""></i><span class="list-nav-label">Spam</span>
                    </a>
                  </li>
                  <li class="list-nav-item">
                    <a class="list-nav-link d-flex align-items-center">
                        <i class="fa fa-trash" style=""></i><span class="list-nav-label">Trash</span>
                    </a>
                  </li>
                  <li class="list-nav-item">
                    <a class="list-nav-link d-flex align-items-center">
                        <i class="fa fa-calendar" style=""></i><span class="list-nav-label">Calendar</span>
                    </a>
                  </li>
              </ul>
            </div>
          </div>
          <div style="width: 100%" class="">
            <div class="d-flex py-3 align-items-center justify-content-between">
              <div class="mr-1">
                <h5 class="my-0 px-3 text-info">Inbox (12)</h5>
              </div>
              <div class="actions px-3" style="text-align: right;">
                <span class="btn-group">
                  <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-archive"></i></button>
                  <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-archive"></i></button>
                </span>

              </div>
            </div>

            <div class="email-list">
              <table class="table table-middle table-compact" style="font-size: 1em">
                <tbody>
                  <tr style="font-weight: 500">

                    <td>
                      <img src="/assets/img/face1.jpeg" alt="" class="img-thumb-xs mx-3" />
                      Alex Rogers
                    </td>
                    <td>
                      Re: How to Kill a Mocking Monkey with Sarcasm
                    </td>
                    <td >
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
