<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="bg-white card email-card" style=" margin-bottom:0px;">
        <div class="d-flex email-container">
          <div class="email-sidebar" [ngClass]="{expanded: menuToggle}">
            <div class="pt-4 pl-4 mr-1 d-flex align-items-center justify-content-between btn-sm">
              <h5 class="my-0">Simplify Email</h5><button class="btn btn-link text-secondary btn-sm email-toggle" (click)="menuToggle = !menuToggle"><i class="material-icons">menu</i></button>
            </div>
            <div class="py-4 px-4 mr-1">
              <button class="btn btn-outline-info btn-block">Compose</button>
            </div>
            <div class="inbox-menu">
              <ul class="list-nav sidebar-nav list-nav-light">
                  <li class="list-nav-item active">
                    <a class="list-nav-link d-flex align-items-center">
                        <i class="fa fa-inbox" style=""></i><span class="list-nav-label">Inbox</span>
                    </a>
                  </li>
                  <li class="list-nav-item">
                    <a class="list-nav-link d-flex align-items-center">
                        <i class="fa fa-folder " style=""></i><span class="list-nav-label">Drafts</span>
                    </a>
                  </li>
                  <li class="list-nav-item">
                    <a class="list-nav-link d-flex align-items-center">
                        <i class="fa fa-inbox" style=""></i><span class="list-nav-label">Spam</span>
                    </a>
                  </li>
                  <li class="list-nav-item">
                    <a class="list-nav-link d-flex align-items-center">
                        <i class="fa fa-trash" style=""></i><span class="list-nav-label">Trash</span>
                    </a>
                  </li>
                  <li class="list-nav-item">
                    <a class="list-nav-link d-flex align-items-center">
                        <i class="fa fa-calendar" style=""></i><span class="list-nav-label">Calendar</span>
                    </a>
                  </li>
              </ul>
            </div>
          </div>
          <div style="width: 100%" class="">
            <div class="d-flex py-3 align-items-center justify-content-between">
              <div class="mr-1 pl-2 d-flex align-items-center">
                <button class="btn btn-link text-secondary btn-sm email-toggle" (click)="menuToggle = !menuToggle"><i class="material-icons">menu</i></button><h5 class="my-0 px-3 text-info">Inbox (12)</h5>
              </div>
              <div class="actions px-4" style="text-align: right;">
                <span class="btn-group">
                  <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-archive"></i></button>
                  <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-archive"></i></button>
                </span>

              </div>
            </div>

            <div class="email-list">
              <table class="table table-middle table-compact" style="font-size: 1em">
                <tbody>
                  <tr style="font-weight: 500">

                    <td>
                      <img src="/assets/img/face1.jpeg" alt="" class="img-thumb-xs mx-3" />
                      Alex Rogers
                    </td>
                    <td>
                      Re: How to Kill a Mocking Monkey with Sarcasm
                    </td>
                    <td >
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      How to drive a space ship after you lose your mind
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face3.jpeg" alt="" class="img-thumb-xs mx-3" />
                      Alice M
                    </td>
                    <td>
                      Astronomy compels the soul to look upward, and leads us from this world to another.
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      Peter Brown
                    </td>
                    <td>
                      Where ignorance lurks, so too do the frontiers of discovery and imagination.
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face5.jpeg" alt="" class="img-thumb-xs mx-3" />
                      Timothy Roge
                    </td>
                    <td>
                      Buy why, some say, the moon?
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face1.jpeg" alt="" class="img-thumb-xs mx-3" />
                      Sarah Fowler
                    </td>
                    <td>
                      You know, being a test pilot isn't always the healthiest
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face2.jpeg" alt="" class="img-thumb-xs mx-3" />
                      James T. Kirk
                    </td>
                    <td>
                      Houston, Tranquillity Base here. The Eagle has landed.


                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face5.jpeg" alt="" class="img-thumb-xs mx-3" />
                      J. K. Brewster
                    </td>
                    <td>
                      If you could see the earth illuminated
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      Carol Davis
                    </td>
                    <td>
                      Problems look mighty small from 150 miles up.
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face5.jpeg" alt="" class="img-thumb-xs mx-3" />
                      J. K. Brewster
                    </td>
                    <td>
                      Science cuts two ways, of course
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      Alice Wondergirl
                    </td>
                    <td>
                      But there's no turning back from science.
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>
                  <tr class="text-secondary">

                    <td>
                      <img src="/assets/img/face4.jpeg" alt="" class="img-thumb-xs mx-3" />
                      Nut Cracker
                    </td>
                    <td>
                      As we got further and further away
                    </td>
                    <td style="width: 3rem">
                      <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                      </label>
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
