<div class="container-fluid">
  <h3 class="cardless-title">
    Button Variations
  </h3>
  <div class="row">
    <div class="col-7">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Basic Buttons
          </h5>

          <div class="demo">
            <p>
              Add <code>.btn .btn-[variation]</code> to any <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code>  for stylized buttons. Button variations are shown below:
            </p>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-dark">Dark </button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-link">Link</button>
          </div>






        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Outline Buttons
          </h5>
          <div class="demo">
            <p>
              Use <code>.btn-outline-[variation]</code> on any button variation for outline only button
            </p>
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
            <button type="button" class="btn btn-outline-success">Success</button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-outline-info">Info</button>
            <button type="button" class="btn btn-outline-dark">Dark</button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Pill Buttons
          </h5>
          <div class="demo">
            <p>
              Add <code>.btn-pill</code> to any button variation to use buttons with round sides
            </p>
            <button type="button" class="btn btn-primary btn-pill">Primary</button>
            <button type="button" class="btn btn-dark btn-pill">Dark</button>
            <button type="button" class="btn btn-secondary btn-pill">Secondary</button>
            <button type="button" class="btn btn-success btn-pill">Success</button>
            <button type="button" class="btn btn-danger btn-pill">Danger</button>
            <button type="button" class="btn btn-warning btn-pill">Warning</button>
            <button type="button" class="btn btn-info btn-pill">Info</button>
            <button type="button" class="btn btn-light btn-pill">Light</button>

          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Flat Buttons
          </h5>
          <div class="demo">
            <p>
              Use <code>.btn-flat-[variation]</code> on any button variation for flat material style button
            </p>
            <button type="button" class="btn btn-flat-primary">Primary</button>
            <button type="button" class="btn btn-flat-secondary">Secondary</button>
            <button type="button" class="btn btn-flat-success">Success</button>
            <button type="button" class="btn btn-flat-danger">Danger</button>
            <button type="button" class="btn btn-flat-warning">Warning</button>
            <button type="button" class="btn btn-flat-info">Info</button>
            <button type="button" class="btn btn-flat-dark">Dark</button>
          </div>
        </div>
      </div>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          FAB Buttons
        </h5>
        <div class="demo">
          <p>
            Add <code>.btn-fab</code> to any button variation to use round action button
          </p>
          <button type="button" class="btn btn-primary btn-fab"><i class="material-icons">room</i></button>
          <button type="button" class="btn btn-secondary btn-fab"><i class="material-icons">attachment</i></button>
          <button type="button" class="btn btn-success btn-fab"><i class="material-icons">code</i></button>
          <button type="button" class="btn btn-danger btn-fab"><i class="material-icons">add</i></button>
          <button type="button" class="btn btn-warning btn-fab"><i class="material-icons">warning</i></button>
          <button type="button" class="btn btn-info btn-fab"><i class="material-icons">fingerprint</i></button>
          <button type="button" class="btn btn-dark btn-fab"><i class="material-icons">language</i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <h3 class="cardless-title">
        Button Sizes
      </h3>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Small Buttons
          </h5>
          <div class="demo">
            <button type="button" class="btn btn-primary btn-sm">Primary</button>
          </div>
          <h5 class="card-title">
            Small Outline Buttons
          </h5>
          <div class="demo">
            <button type="button" class="btn btn-outline-danger btn-sm">Primary</button>
          </div>
          <h5 class="card-title">
            Small Fab Buttons
          </h5>
          <div class="demo">
            <button type="button" class="btn btn-danger btn-fab btn-sm"><i class="material-icons">add</i></button>
          </div>

        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Large Buttons
          </h5>
          <div class="demo">
            <button type="button" class="btn btn-primary btn-lg">Primary</button>
          </div>
          <h5 class="card-title">
            Large Outline Buttons
          </h5>
          <div class="demo">
            <button type="button" class="btn btn-outline-danger btn-lg">Primary</button>
          </div>
          <h5 class="card-title">
            Large FAB Buttons
          </h5>
          <div class="demo">
            <button type="button" class="btn btn-danger btn-fab btn-lg"><i class="material-icons">add</i></button>
          </div>

        </div>
      </div>




    </div>
  </div>
</div>
