<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5>Buttons</h5>
        </div>
        <div class="card-body">
          <p class="text-secondary">
            Simplify Admin expands the already great button <code>.btn</code> variations provided by bootstrap to include even more button styles and colors.
          </p>
          <p class="text-secondary">
            It also provides utilities to make your life easier.
          </p>

        </div>
      </div>
    </div>
  </div>
  <h5 class="cardless-title pb-3 px-2">
    Button Variations
  </h5>
  <div class="row">
    <div class="col-lg-7 col-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Basic Buttons
          </h5>

          <div class="demo py-2">
            <p class="py-2 text-secondary">
              Add <code>.btn .btn-[variation]</code> to any <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code>  for stylized buttons. Button variations are shown below:
            </p>
            <button type="button" class="btn mr-4 mb-4 btn-primary">Primary</button>
            <button type="button" class="btn mr-4 mb-4 btn-dark">Dark </button>
            <button type="button" class="btn mr-4 mb-4 btn-secondary">Secondary</button>
            <button type="button" class="btn mr-4 mb-4 btn-success">Success</button>
            <button type="button" class="btn mr-4 mb-4 btn-danger">Danger</button>
            <button type="button" class="btn mr-4 mb-4 btn-warning">Warning</button>
            <button type="button" class="btn mr-4 mb-4 btn-info">Info</button>
            <button type="button" class="btn mr-4 mb-4 btn-light">Light</button>
            <button type="button" class="btn mr-4 mb-4 btn-link">Link</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Outline Buttons
          </h5>
          <div class="demo">
            <p  class="py-2 text-secondary">
              Use <code>.btn-outline-[variation]</code> for outline only button
            </p>
            <button type="button" class="btn mr-4 mb-4 btn-outline-primary">Primary</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-secondary">Secondary</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-success">Success</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-danger">Danger</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-warning">Warning</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-info">Info</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-dark">Dark</button>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Flat Buttons
          </h5>
          <div class="demo">
            <p  class="py-2 text-secondary">
              Use <code>.btn-flat-[variation]</code> for flat material style button
            </p>
            <button type="button" class="btn mr-4 mb-4 btn-flat-primary">Primary</button>
            <button type="button" class="btn mr-4 mb-4 btn-flat-secondary">Secondary</button>
            <button type="button" class="btn mr-4 mb-4 btn-flat-success">Success</button>
            <button type="button" class="btn mr-4 mb-4 btn-flat-danger">Danger</button>
            <button type="button" class="btn mr-4 mb-4 btn-flat-warning">Warning</button>
            <button type="button" class="btn mr-4 mb-4 btn-flat-info">Info</button>
            <button type="button" class="btn mr-4 mb-4 btn-flat-dark">Dark</button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Pill Buttons
          </h5>
          <div class="demo">
            <p  class="py-2 text-secondary">
              Add <code>.btn-pill</code> to any button style variation (normal, flat or outline) to use buttons with round sides
            </p>
            <button type="button" class="btn mr-4 mb-4 btn-primary btn-pill">Primary</button>
            <button type="button" class="btn mr-4 mb-4 btn-dark btn-pill">Dark</button>
            <button type="button" class="btn mr-4 mb-4 btn-secondary btn-pill">Secondary</button>
            <button type="button" class="btn mr-4 mb-4 btn-success btn-pill">Success</button>
            <button type="button" class="btn mr-4 mb-4 btn-danger btn-pill">Danger</button>
            <button type="button" class="btn mr-4 mb-4 btn-warning btn-pill">Warning</button>
            <button type="button" class="btn mr-4 mb-4 btn-info btn-pill">Info</button>
            <button type="button" class="btn mr-4 mb-4 btn-light btn-pill">Light</button>

          </div>

          <div class="demo">
            <p  class="py-2 text-secondary">
              Example <code>.btn-pill</code> on outline buttons
            </p>
            <button type="button" class="btn mr-4 mb-4 btn-outline-primary btn-pill">Primary</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-dark btn-pill">Dark</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-secondary btn-pill">Secondary</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-success btn-pill">Success</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-danger btn-pill">Danger</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-warning btn-pill">Warning</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-info btn-pill">Info</button>
            <button type="button" class="btn mr-4 mb-4 btn-outline-light btn-pill">Light</button>

          </div>

        </div>
      </div>
  </div>
  <div class="col-lg-5 col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          FAB Buttons
        </h5>
        <div class="demo">
          <p  class="py-2 text-secondary">
            Add <code>.btn-fab</code> to any button variation to use round action button
          </p>
          <button type="button" class="btn mr-4 mb-4 btn-primary btn-fab"><i class="material-icons">room</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-secondary btn-fab"><i class="material-icons">attachment</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-success btn-fab"><i class="material-icons">code</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-danger btn-fab"><i class="material-icons">add</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-warning btn-fab"><i class="material-icons">warning</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-info btn-fab"><i class="material-icons">fingerprint</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-dark btn-fab"><i class="material-icons">language</i></button>
        </div>

        <h5 class="card-title mt-4">
          FAB Button Variations
        </h5>
        <div class="demo">
          <p  class="py-2 text-secondary">
            You Add <code>.btn-fab</code> to any button style or color variation, here's a demo of fab outline buttons
          </p>
          <button type="button" class="btn mr-4 mb-4 btn-outline-primary btn-fab"><i class="material-icons">room</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-outline-secondary btn-fab"><i class="material-icons">attachment</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-outline-success btn-fab"><i class="material-icons">code</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-outline-danger btn-fab"><i class="material-icons">add</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-outline-warning btn-fab"><i class="material-icons">warning</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-outline-info btn-fab"><i class="material-icons">fingerprint</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-outline-dark btn-fab"><i class="material-icons">language</i></button>
        </div>

        <h5 class="card-title mt-4">
          FAB Button Variations
        </h5>
        <div class="demo">
          <p  class="py-2 text-secondary">
            You Add <code>.btn-fab</code> to any button style or color variation, here's a demo of fab outline buttons
          </p>
          <button type="button" class="btn mr-4 mb-4 btn-flat-primary btn-fab"><i class="material-icons">room</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-flat-secondary btn-fab"><i class="material-icons">attachment</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-flat-success btn-fab"><i class="material-icons">code</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-flat-danger btn-fab"><i class="material-icons">add</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-flat-warning btn-fab"><i class="material-icons">warning</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-flat-info btn-fab"><i class="material-icons">fingerprint</i></button>
          <button type="button" class="btn mr-4 mb-4 btn-flat-dark btn-fab"><i class="material-icons">language</i></button>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          More Custom Colors
        </h5>

        <div class="demo py-2">
          <p class="py-2 text-secondary">
            Add <code>.btn .btn-[color]</code> to any <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code>.
          </p>
          <button type="button" class="btn mr-4 mb-4 btn-indigo">Indigo</button>
          <button type="button" class="btn mr-4 mb-4 btn-yellow">Yellow</button>
          <button type="button" class="btn mr-4 mb-4 btn-teal">Teal </button>
          <button type="button" class="btn mr-4 mb-4 btn-cyan">Cyan</button>
          <button type="button" class="btn mr-4 mb-4 btn-pink">Pink</button>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Button Group
        </h5>

        <div class="demo py-2">
          <p class="py-2 text-secondary">
            Wrap buttons in a btn-group for a Button Group
          </p>
          <div class="btn-group mb-4">
            <button type="button" class="btn btn-info">One</button>
            <button type="button" class="btn btn-info">Two</button>
            <button type="button" class="btn btn-info">Infinite</button>
          </div>


        </div>
        <div class="demo">
          <div class="btn-group mb-4">
            <button type="button" class="btn btn-outline-info">One</button>
            <button type="button" class="btn btn-outline-info">Two</button>
            <button type="button" class="btn btn-outline-info">Infinite</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-12">
      <h5 class="pb-3 px-2">
        Button Sizes
      </h5>
      <div class="card">
        <div class="row">
          <div class="col-12 col-lg-6" style="border-right:1px solid #eee">
            <div class="card-body">
              <h5 class="card-title">
                Small Buttons
              </h5>
              <div class="demo py-3">
                <p  class="py-2 text-secondary">
                  Add <code>.btn-sm</code> to any button variation to use a smaller button
                </p>
                <button type="button" class="btn mr-4 mb-4 btn-primary btn-sm">Primary</button>
                <button type="button" class="btn mr-4 mb-4 btn-outline-secondary btn-sm">Outline Secondary</button>
                <button type="button" class="btn mr-4 mb-4 btn-flat-success btn-sm">Flat Success</button>
                <button type="button" class="btn mr-4 mb-4 btn-danger btn-fab btn-sm"><i class="material-icons">add</i></button>
              </div>


              <h5 class="card-title mt-2">
                Block Buttons
              </h5>
              <div class="demo py-2">
                <p  class="py-2 text-secondary">
                  Add <code>.btn-block</code> to any button variation or size to use a full width button
                </p>
                <button type="button" class="btn btn-info btn-block ">Info block</button>
                <button type="button" class="btn btn-outline-dark  btn-block  ">Outline Dark</button>
                <button type="button" class="btn btn-flat-success  btn-block ">Flat Success</button>
              </div>

            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card-body">
              <h5 class="card-title">
                Large Buttons
              </h5>
              <div class="demo py-2">
                <p  class="py-2 text-secondary">
                  Add <code>.btn-lg</code> to any button variation to use a larger button
                </p>
                <button type="button" class="btn mr-4 mb-4 btn-primary btn-lg">Primary</button>
                <button type="button" class="btn mr-4 mb-4 btn-outline-warning btn-lg">Outline Warning</button>
                <button type="button" class="btn mr-4 mb-4 btn-flat-success btn-lg">Flat Success</button>
                <button type="button" class="btn mr-4 mb-4 btn-danger btn-fab btn-lg"><i class="material-icons">add</i></button>
              </div>

              <h5 class="card-title">
                Mix it up!
              </h5>
              <div class="demo py-2">
                <p  class="py-2 text-secondary">
                  Experiment! Here's a block outline only pill button! <code>.btn-lg</code> to any button variation to use a larger button
                </p>
                <button type="button" class="btn btn-outline-success btn-pill btn-block">Outline &amp; Pill Success</button>
                <p  class="pb-2 pt-3 text-secondary">
                  Experiment! Here's a block outline only flat button! <code>.btn-lg</code> to any button variation to use a larger button
                </p>
                <button type="button" class="btn btn-flat-danger btn-pill btn-block">Flat Pill Danger</button>
              </div>

            </div>
          </div>
        </div>

      </div>









    </div>
  </div>
</div>
