<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="bg-white card" style=" margin-bottom:0px;">
        <div class="d-flex email-containe">
          <div class="email-sidebar" [ngClass]="{expanded: menuToggle}">
            <div class="pt-6 pl-6 mr-1 d-flex align-items-center justify-content-between btn-sm">
              <h5 class="my-0">Simplify Email</h5><button class="btn btn-link text-secondary btn-sm email-toggle" (click)="menuToggle = !menuToggle"><i class="material-icons">menu</i></button>
            </div>
            <div class="py-4 px-4 mr-1">
              <button class="btn btn-outline-info btn-block">Compose</button>
            </div>
            <div class="inbox-menu">
              <ul class="list-nav sidebar-nav list-nav-light">
                <li class="list-nav-item active">
                  <a class="list-nav-link d-flex align-items-center">
                      <i class="fa fa-inbox" style=""></i><span class="list-nav-label">Inbox</span>
                  </a>
                </li>
                <li class="list-nav-item">
                  <a class="list-nav-link d-flex align-items-center">
                      <i class="fa fa-folder " style=""></i><span class="list-nav-label">Drafts</span>
                  </a>
                </li>
                <li class="list-nav-item">
                  <a class="list-nav-link d-flex align-items-center">
                      <i class="fa fa-inbox" style=""></i><span class="list-nav-label">Spam</span>
                  </a>
                </li>
                <li class="list-nav-item">
                  <a class="list-nav-link d-flex align-items-center">
                      <i class="fa fa-trash" style=""></i><span class="list-nav-label">Trash</span>
                  </a>
                </li>
                <li class="list-nav-item">
                  <a class="list-nav-link d-flex align-items-center">
                      <i class="fa fa-calendar" style=""></i><span class="list-nav-label">Calendar</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div style="width: 100%" class="">
            <div class="d-flex py-3 align-items-center justify-content-between">
              <div class="mr-1 pl-3 pt-3 d-flex align-items-center">
                <button class="btn btn-link text-secondary btn-sm email-toggle" (click)="menuToggle = !menuToggle"><i class="material-icons">menu</i></button>
                <h5 class="my-0 px-3 text-info">Inbox</h5>
              </div>
            </div>
            <div class="email-message py-2">
              <div class="media px-4 py-4 border-top border-bottom">
                <img src="assets/img/face3.jpeg" alt="" class="img-thumb-sm">
                <div class="media-body ml-3">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="mb-0">Alex Kirk</h5>
                      <p class="text-secondary mb-0">alex@federation.space</p>
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-sm btn-flat-secondary"><i class="fa fa-archive"></i></button>
                      <button class="btn btn-sm btn-flat-secondary"><i class="fa fa-times"></i></button>
                    </div>
                  </div>

                </div>
              </div>
              <div class="message-content px-8 py-4">
                <h5 class="mb-4">Your Space Ship Drive Test Appointment</h5>
                <p class="" style="max-width: 90%">
                  Buy why, some say, the moon? Why choose this as our goal? And they may as well ask why climb the highest mountain?
                  <br><br>
                  I don't know what you could say about a day in which you have seen four beautiful sunsets.
                  <br><br>
                  Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.
                  <br><br>
                  Cheers,<br>
                  Alex Dunkirk
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
