<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h5>Datepicker</h5>
      <p class="secondary-text">Use <code>ngb-datepicker</code> template tag for a datepciker</p>
      <div class="demo mb-4">
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" class=""></ngb-datepicker>
      </div>

      <p class="secondary-text">Use <code>ngbDatepicker</code> directive for a datepciker that popsup</p>
      <div class="demo mb-4">
        <div class="input-group" style="max-width:20rem">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <button class="input-group-addon" (click)="d.toggle()" type="button">
            <i class="material-icons">event</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5>Timepicker</h5>
      <p class="secondary-text">Use <code>ngb-timepicker</code> template tag for a timepicker</p>
      <div class="demo mb-4">
        <ngb-timepicker [(ngModel)]="time" [meridian]="true"></ngb-timepicker>
      </div>
    </div>
  </div>
</div>


<form class="form-inline">
  <div class="form-group">

  </div>
</form>
