<div class="container-fluid">
  <h5 class="px-2 mb-3">
    Custom Checkbox and Radio
  </h5>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="demo">
            <h5>Custom Checkboxes</h5>
            <p class="text-secondary mt-3">
              Use Bootstrap's <code>.custom-control</code> classes for Custom Checkboxes.
            </p>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Check this</span>
            </label>

          </div>
          <div class="demo mt-4">
            <h5>Custom Checkbox Colors</h5>
            <p class="text-secondary mt-3">
              Add <code>.custom-control-indicator-[variation] </code> to <code>.custom-control-indicator</code> for custom colors.
            </p>
            <div class="row">
              <div class="col-6 col-md-4">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-primary"></span>
                  <span class="custom-control-description">Primary</span>
                </label>
              </div>
              <div class="col-6 col-md-4">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-success"></span>
                  <span class="custom-control-description">Success</span>
                </label>
              </div>
              <div class="col-6 col-md-4">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-warning"></span>
                  <span class="custom-control-description">Warning</span>
                </label>
              </div>
              <div class="col-6 col-md-4">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-info"></span>
                  <span class="custom-control-description">Info</span>
                </label>
              </div>
              <div class="col-6 col-md-4">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-danger"></span>
                  <span class="custom-control-description">Danger</span>
                </label>
              </div>
              <div class="col-6 col-md-4">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-dark"></span>
                  <span class="custom-control-description">Dark</span>
                </label>
              </div>
            </div>

          </div>
          <div class="mt-4">
            <p class="text-secondary">Add <code>.custom-control-material</code> for flat checkbox</p>
            <div>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator custom-control-material"></span>
                <span class="custom-control-description">Check this Out</span>
              </label>
            </div>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <div class="demo">
            <h5>Custom Radio</h5>
            <p class="text-secondary mt-3">
              Use Bootstrap's <code>.custom-control</code> classes for Custom Radio.
            </p>
            <label class="custom-control custom-radio">
              <input id="radio1" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Toggle this custom radio</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="radio2" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Or toggle this other custom radio</span>
            </label>
          </div>
          <div class="demo mt-4">
            <h5>Custom Radio Colors</h5>
            <p class="text-secondary mt-3">
              Add <code>.custom-control-indicator-[variation] </code> to <code>.custom-control-indicator</code> for custom colors.
            </p>
            <div class="row">
              <div class="col-6 col-md-4">
                <label class="custom-control custom-radio">
                  <input type="radio" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-primary"></span>
                  <span class="custom-control-description">Primary</span>
                </label>
              </div>
              <div class="col-6 col-md-4">
                <label class="custom-control custom-radio">
                  <input type="radio" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-success"></span>
                  <span class="custom-control-description">Success</span>
                </label>
              </div>
              <div class="col-6 col-md-4">
                <label class="custom-control custom-radio">
                  <input type="radio" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-warning"></span>
                  <span class="custom-control-description">Warning</span>
                </label>
              </div>
              <div class="col-6 col-md-4">
                <label class="custom-control custom-radio">
                  <input type="radio" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-info"></span>
                  <span class="custom-control-description">Info</span>
                </label>
              </div>
              <div class="col-6 col-md-4">
                <label class="custom-control custom-radio">
                  <input type="radio" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-danger"></span>
                  <span class="custom-control-description">Danger</span>
                </label>
              </div>
              <div class="col-6 col-md-4">
                <label class="custom-control custom-radio">
                  <input type="radio" checked class="custom-control-input">
                  <span class="custom-control-indicator custom-control-indicator-dark"></span>
                  <span class="custom-control-description">Dark</span>
                </label>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5 class="px-2 py-3">
        Custom Dropdowns
      </h5>
      <div class="card">
        <div class="card-body">
          <h5>Custom Select</h5>
          <p class="text-secondary">Add a <code>.custom-select</code> to select for a Custom Dropdown</p>
          <div class="demo">
            <select class="custom-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5 class="px-2 py-3">
        Custom File Upload
      </h5>
      <div class="card">
        <div class="card-body">
          <h5>Files</h5>
          <p class="text-secondary">Add a <code>.custom-file</code> to a label for File Input for custom style</p>
          <div class="demo">
            <label class="custom-file">
            <input type="file" id="file2" class="custom-file-input">
            <span class="custom-file-control"></span>
          </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
