<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-body">
          <h5>Tooltip</h5>
          <p class="text-secondary">
            Use ngbTooltip directive with a value to implement Tooltips
          </p>


          <button type="button" class="btn btn-outline-secondary" placement="top" ngbTooltip="Tooltip on top">
            Tooltip on top
          </button>
          <button type="button" class="btn btn-flat-primary" placement="right" ngbTooltip="Tooltip on right">
            Tooltip on right
          </button>
          <button type="button" class="btn btn-flat-success" placement="bottom" ngbTooltip="Tooltip on bottom">
            Tooltip on bottom
          </button>
          <button type="button" class="btn btn-flat-danger" placement="left" ngbTooltip="Tooltip on left">
            Tooltip on left
          </button>



        </div>
      </div>
    </div>
  </div>
</div>
