@import "../../node_modules/bootstrap/scss/forms";
.form-control {
  padding-left: 1rem;
  padding-right: 1rem;
  &::placeholder {
    color: $gray-500;
  }
}
@import "../../node_modules/bootstrap/scss/custom-forms";
.custom-control {
  padding-left: 2rem;
}
.custom-control-input:checked ~ .custom-control-indicator {
  &-warning {
    background-color: $warning;
  }
  &-success {
    background-color: $success;
  }
  &-info {
    background-color: $info;
  }
  &-danger {
    background-color: $danger;
  }
  &-primary {
    background-color: $primary;
  }
  &-dark {
    background-color: $dark;
  }
  &-secondary {
    background-color: $secondary;
  }

}
.form-control-clear{
  border: 0;
  &:focus {
    box-shadow: none;
  }
}
.form-control.is-warning {
  border-color: $warning;
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($warning,0.25);
  }
}
.ngb-tp .btn-link {
  color: $primary;
}
.medium-editor-element {
  border: 1px solid $gray-400;
  padding: 1rem;
  min-height: 15rem !important;
  margin-bottom: 1rem;
  &:focus {
    outline: 0;
  }
}
.medium-editor-action {
  .fa {
    font-size: 0.9em !important;
  }
}
.dropzone {
  background: $gray-100 !important;
  border: 1px solid $gray-400 !important;
  min-height: 120px !important;
  text-transform: uppercase;
}
@include form-validation-state-ng("invalid", $form-feedback-invalid-color)
@include form-validation-state-ng("valid", $form-feedback-valid-color)
