.form-control {
  padding-left: 1rem;
  padding-right: 1rem;
}

.custom-control {
  padding-left: 2rem;
}
.custom-control-input:checked ~ .custom-control-indicator {
  &-warning {
    background-color: $warning;
  }
  &-success {
    background-color: $success;
  }
  &-info {
    background-color: $info;
  }
  &-danger {
    background-color: $danger;
  }
  &-primary {
    background-color: $primary;
  }
  &-dark {
    background-color: $dark;
  }
  &-secondary {
    background-color: $secondary;
  }

}

.form-control.is-warning {
  border-color: $warning;
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($warning,0.25);
  }
}
.ngb-tp .btn-link {
  color: $primary;
}
@include form-validation-state-ng("invalid", $form-feedback-invalid-color)
@include form-validation-state-ng("valid", $form-feedback-valid-color)
