.sidebar-left {
  width: 20rem;
  min-width: 20rem;
  max-width: 20rem;
  position: fixed;
  left: 0;
  top: 0;
}
.page {
  margin-left: 20rem;

}
.page-content {
  padding: $grid-gutter-width ($grid-gutter-width/2);
  .card {
    margin-bottom: $grid-gutter-width; 
  }
}
