.sidebar-left {
  width: $sidebar-size;
  min-width: $sidebar-size;
  max-width: $sidebar-size;
  position: fixed;
  left: 0;
  top: 0;
}
.page {
  margin-left: $sidebar-size;

}
.page-content {
  padding: $grid-gutter-width ($grid-gutter-width/2);
  .card {
    margin-bottom: $grid-gutter-width;
  }
}
