/* Base Styling for Simplify Admin
 Should be included after bootstrap
 Depends on bootstrap mixins
*/

/* Import Custom Mixins */
:root {
  font-size: 16px;
}
$sidebar-size: 18rem;
$topbar-size: 3.8rem;
@import "mixins/mixins";
@import "components/components";
@import "icons/icons";
@import "media";
@import "layout";


.progress-thin {
  height: 5px;
  border-radius: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}
body {
  font-size: 0.85rem;
}
