<div class="container-fluid">
  <h5 class="px-2 mb-3">Alerts</h5>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Basic Alerts
          </h5>
          <p class="secondary-text">
            Use <code>.alert</code> with a variation <code>.alert-[variation]</code> for themed alerts
          </p>
          <div class="demo">
            <div class="alert alert-primary" role="alert">
              This is a primary alert—check it out!
            </div>
            <div class="alert alert-secondary" role="alert">
              This is a secondary alert—check it out!
            </div>
            <div class="alert alert-success" role="alert">
              This is a success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert">
              This is a danger alert—check it out!
            </div>
            <div class="alert alert-warning" role="alert">
              This is a warning alert—check it out!
            </div>
            <div class="alert alert-info" role="alert">
              This is a info alert—check it out!
            </div>
            <div class="alert alert-light" role="alert">
              This is a light alert—check it out!
            </div>
            <div class="alert alert-dark" role="alert">
              This is a dark alert—check it out!
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
