<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5>Utilities</h5>
        </div>
        <div class="card-body">
          <p>
            Only Utilites that we have changed or added new are shown here. But all Bootstrap4 utilities will work with Simplify
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Margin and Padding</h5>
        </div>
        <div class="card-body">
          <p class="text-secondary">
            Simplify Admin expands on bootstrap utility classes to provide more flexibility with margin and padding
          </p>
          <p class="text-secondary">
             Spacing Utilities follow the bootstrap standard. Except we have more variations in sizes available. Here is how they work:

          </p>

          <p class="text-secondary">
            The classes are named using the format
            <code>[property][sides]-[size]</code> for <code>xs</code> (Applicable to all devices)
            and <br><code>[property][sides]-[breakpoint]-[size]</code>
            for <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code>(Applicable to devices larger than used breakpoint)
          </p>
          <h5 class="mb-4 mt-8">
            Start with:
          </h5>
          <ul class="pl-4 text-secondary">
            <li>
              <code>m</code> for Margin
            </li>
            <li>
              <code>p</code> for Padding
            </li>
          </ul>

          <h5 class="mb-4 mt-8">
            Add a side
          </h5>
          <ul class="pl-4 text-secondary">
            <li>
              <code>t</code> for top (<code>margin-top</code> and <code>padding-top</code>)
            </li>
            <li>
              <code>b</code> for bottom (<code>margin-bottom</code> and <code>padding-bottom</code>)
            </li>
            <li>
              <code>l</code> for left (<code>margin-left</code> and <code>padding-left</code>)
            </li>
            <li>
              <code>r</code> for right (<code>margin-right</code> and <code>padding-right</code>)
            </li>
            <li>
              <code>x</code> for left and right
            </li>
            <li>
              <code>y</code> for top and bottom
            </li>
            <li>
              blank for all sides (<code>margin</code> and <code>padding</code>)
            </li>

          </ul>

          <h5 class="mb-4 mt-8">
          Size
          </h5>
          <p class="text-secondary">For size Use Number <strong><code>1</code> to <code>14</code></strong> in increasing order for increased spacing size.</p>

          <h5 class="mb-4 mt-8">
            Examples
          </h5>
          <p class="text-secondary">
            <code>.mr-t-6</code> adds a top margin of size <strong>1.5rem</strong> for all devices
          </p>

        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5>Borders</h5>

        </div>
        <div class="card-body">
          <p>
            You can use utilities to remove a border or add a standard separator colored one
          </p>

          <p class="text-secondary">
            Use <code>border-top</code>, <code>border-bottom</code>, <code>border-left</code>, <code>border-right</code> or <code>border</code>
            to add a border to the respective side
          </p>
          <p class="text-secondary">
            Add <code>border-[color-variation]</code> class to change the border color (for all 4 sides)
          </p>
          <h5 class="mt-6 mb-4">Example</h5>
          <p class="text-secondary">Here is a division with a left info colored border </p>
          <div style="width: 4rem; height: 4rem" class="bg-light border-right border-info"></div>

          <h5 class="mt-6 mb-4">Removing Borders</h5>
          <p class="text-secondary">
            You can also use bootstrap default utilities to remove borders

          </p>

            <ul class="pl-4 text-secondary">
              <li><code>border-0</code> to remove all borders</li>
              <li><code>border-top-0</code> to remove top border</li>
              <li><code>border-left-0</code> to remove left border</li>
              <li><code>border-right-0</code> to remove right border</li>
              <li><code>border-bottom-0</code> to remove bottom border</li>
            </ul>

        </div>
      </div>
    </div>
  </div>

</div>
