<nav class="navbar navbar-expand-lg bg-white py-0 topbar">

  <button class="btn btn-flat-secondary btn-sm btn-icon" style="margin-right:1rem">
    <i class="material-icons">menu</i>
  </button>

    <div class="navbar-text">
      <h5 style="margin:0; line-height: inherit">{{ title }}</h5>
    </div>
  <div class="d-flex justify-content-end" style="width:100%">
    <ul class="navbar-nav" style="color:#a1a9b1">
      <li class="nav-item dropdown no-caret mr-4" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle style="color:inherit; font-size:1em" class="text-secondary dropdown-toggle nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons" style="vertical-align:middle">apps</i>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right py-0" style="width:16rem" aria-labelledby="navbarDropdown">
          <div class="row p-0 no-gutter">
            <div class="col-4">
              <button class="btn btn-block btn-flat-secondary text-center py-4 ">
                <i class="material-icons">event</i>
              </button>
            </div>
            <div class="col-4">
              <button class="btn btn-block btn-flat-secondary text-center py-4 ">
                <i class="material-icons">home</i>
              </button>
            </div>
            <div class="col-4">
              <button class="btn btn-block btn-flat-secondary text-center py-4 ">
                <i class="material-icons">mail</i>
              </button>
            </div>
            <div class="col-4">
              <button class="btn btn-block btn-flat-secondary text-center py-4 ">
                <i class="material-icons">message</i>
              </button>
            </div>
            <div class="col-4">
              <button class="btn btn-block btn-flat-secondary text-center py-4 ">
                <i class="material-icons">notifications</i>
              </button>
            </div>
            <div class="col-4">
              <button class="btn btn-block btn-flat-secondary text-center py-4">
                <i class="material-icons">person</i>
              </button>
            </div>
            <div class="col-4">
              <button class="btn btn-block btn-flat-secondary text-center py-4">
                <i class="material-icons">settings</i>
              </button>
            </div>
            <div class="col-4">
              <button class="btn btn-block btn-flat-secondary text-center py-4">
                <i class="material-icons">network_cell</i>
              </button>
            </div>
            <div class="col-4">
              <button class="btn btn-block btn-flat-secondary text-center py-4">
                <i class="material-icons">widgets</i>
              </button>
            </div>
          </div>
        </div>
      </li>


      <li class="nav-item dropdown no-caret mr-1" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle style="color:inherit; font-size:1em" class="text-secondary dropdown-toggle nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons" style="vertical-align:middle">notifications</i>
          <span class="badge badge-warning">2</span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right py-0" style="width:20rem" aria-labelledby="navbarDropdown">
          <ul class="list-group list-group-linked border-top-0 border-left-0 border-right-0 list-group-linked">
            <li class="list-group-item">
              <div class="px-3 py-3">
                <h6 class="m-0">Notifications (<span class="text-warning">12</span>)</h6>
              </div>
            </li>
            <li class="list-group-item">
              <a href="" class="media py-2 px-3" style="color: inherit; width:100%">
                <div class="media-box media-box-xs rounded-circle bg-info text-white mt-1"><i class="material-icons">event</i></div>
                <div class="media-body ml-3" style="overflow: hidden">
                  <p class="text-sm" style="width:auto">
                    Alex has invited you to an event on<br>
                    <span class="text-secondary ">12 jan 2012</span>
                  </p>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="" class="media py-2 px-3" style="color: inherit; width:100%">
                <div class="media-box media-box-xs rounded-circle bg-success text-white mt-1"><i class="material-icons">mail</i></div>
                <div class="media-body ml-3" style="overflow: hidden">
                  <p class="text-sm" style="width:auto">
                    New Company Policy for Holiday Season Parties<br>
                    <span class="text-secondary ">12 jan 2012</span>
                  </p>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="" class="media py-2 px-3" style="color: inherit; width:100%">
                <div class="media-box media-box-xs rounded-circle bg-secondary text-white mt-1"><i class="material-icons">event</i></div>
                <div class="media-body ml-3" style="overflow: hidden">
                  <p class="text-sm" style="width:auto">
                    Your Leave application has been approved<br>
                    <span class="text-secondary ">12 jan 2012</span>
                  </p>
                </div>
              </a>
            </li>

            <li class="list-group-item text-center">
              <a class="dropdown-item empty-link text-info" style="padding:0.6rem; padding-bottom:0.8rem">Load More</a>
            </li>

          </ul>
        </div>
      </li>
      <li class="nav-item dropdown no-caret mr-1" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle style="color:inherit; font-size:1em" class="text-secondary dropdown-toggle nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons" style="vertical-align:middle">person_outline</i>
          <span class="badge badge-warning">2</span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right py-0" style="width:20rem" aria-labelledby="navbarDropdown">
          <ul class="list-group border-top-0 border-left-0 border-right-0 list-group-linked">
            <li class="list-group-item">
              <div class="px-3 py-3">
                <h6 class="m-0">Follow Requests (<span class="text-warning">12</span>)</h6>
              </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between py-1 px-3">

                <div class="d-flex align-items-center">
                  <img class="mr-3" src="/assets/img/face1.jpeg" alt="Generic placeholder image" class="img-thumb-sm ml-1 mt-1">
                  <h6 class="ml-3 mb-0">James Kirk</h6>
                </div>
                <div style="overflow: hidden">
                  <div class="py-1 px-1">
                    <button class="btn btn-sm btn-flat-info btn-fab"><i class="material-icons">done</i></button>
                    <button class="btn btn-sm btn-flat-secondary btn-fab"><i class="material-icons">clear</i></button>
                  </div>
                </div>

            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between py-1 px-3">

                <div class="d-flex align-items-center">
                  <img class="mr-3" src="/assets/img/face4.jpeg" alt="Generic placeholder image" class="img-thumb-sm ml-1 mt-1">
                  <h6 class="ml-3 mb-0">Lt. Uhura</h6>
                </div>
                <div style="overflow: hidden">
                  <div class="py-1 px-1">
                    <button class="btn btn-sm btn-flat-info btn-fab"><i class="material-icons">done</i></button>
                    <button class="btn btn-sm btn-flat-secondary btn-fab"><i class="material-icons">clear</i></button>
                  </div>
                </div>

            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between py-1 px-3">

                <div class="d-flex align-items-center">
                  <img class="mr-3" src="/assets/img/face5.jpeg" alt="Generic placeholder image" class="img-thumb-sm ml-1 mt-1">
                  <h6 class="ml-3 mb-0">Tiberius Kirk</h6>
                </div>
                <div style="overflow: hidden">
                  <div class="py-1 px-1">
                    <button class="btn btn-sm btn-flat-info btn-fab"><i class="material-icons">done</i></button>
                    <button class="btn btn-sm btn-flat-secondary btn-fab"><i class="material-icons">clear</i></button>
                  </div>
                </div>

            </li>

            <li class="list-group-item text-center">
              <a class="dropdown-item empty-link text-info" style="padding:0.6rem; padding-bottom:0.8rem">Load More</a>
            </li>

          </ul>
        </div>
      </li>
      <li class="nav-item dropdown no-caret mr-4" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle style="color:inherit; font-size:1em" class="text-secondary dropdown-toggle nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons" style="vertical-align:middle">mail_outline</i>
          <span class="badge badge-warning">2</span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right py-0" style="width:19rem" aria-labelledby="navbarDropdown">
          <ul class="list-group border-top-0 border-left-0 border-right-0 list-group-linked">
            <li class="list-group-item">
              <div class="px-3 py-3">
                <h6 class="m-0">Messages (<span class="text-warning">12</span>)</h6>
              </div>
            </li>
            <li class="list-group-item">
              <a href="" class="media py-2 px-3" style="color: inherit; width:100%">
                <img class="mr-3" src="/assets/img/face1.jpeg" alt="Generic placeholder image" class="img-thumb ml-1 mt-1">
                <div class="media-body ml-3" style="overflow: hidden">
                  <h6 class="mt-1 mb-1">James Kirk</h6>
                  <p class="text-secondary text-sm text-truncate mb-1" style="width:auto">
                    Problems look mighty small from 150 miles up.
                  </p>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="" class="media py-2 px-3" style="color: inherit; width:100%">
                <img class="mr-3" src="/assets/img/face3.jpeg" alt="Generic placeholder image" class="img-thumb ml-1 mt-1">
                <div class="media-body ml-3" style="overflow: hidden">
                  <h6 class="mt-1 mb-1">Ambassador Spock</h6>
                  <p class="text-secondary  text-sm text-truncate mb-1" style="width:auto">
                    Problems look mighty small from 150 miles up.
                  </p>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="" class="media py-2 px-3" style="color: inherit; width:100%">
                <img class="mr-3" src="/assets/img/face4.jpeg" alt="Generic placeholder image" class="img-thumb ml-1 mt-1">
                <div class="media-body ml-3" style="overflow: hidden">
                  <h6 class="mt-1 mb-1">Nyota Uhur</h6>
                  <p class="text-secondary  text-sm text-truncate mb-1" style="width:auto">
                    Problems look mighty small from 150 miles up.
                  </p>
                </div>
              </a>
            </li>
            <li class="list-group-item text-center">
              <a class="dropdown-item empty-link text-info" style="padding:0.6rem; padding-bottom:0.8rem">Load More</a>
            </li>

          </ul>
        </div>
      </li>
      <li class="nav-item dropdown no-caret" ngbDropdown  placement="bottom-right">
        <a ngbDropdownToggle style="color:inherit; font-size:0.85em" class="nav-link text-secondary dropdown-toggle btn-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/img/face3.jpeg" class="img-thumb-sm mr-1"  style="vertical-align:middle"  alt="">
          <i class="material-icons">expand_more</i>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdown">
          <a class="dropdown-item empty-link">Profile</a>
          <a class="dropdown-item empty-link">Account</a>
          <a class="dropdown-item empty-link">Security</a>
        </div>
      </li>

    </ul>
  </div>

</nav>
