<button class="btn btn-success btn-fab fixed-bottom-right" title="New Task"><i class="material-icons">chat_bubble_outline</i></button>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4 class="section-title" style="font-weight:300">
        Welcome Sarah! You have <a class="text-warning">75</a> new Notifications
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-header pb-2">
          <h5>
            Your Day
          </h5>
          <p class="text-secondary">
            Get Started, You have a lot to do today!
          </p>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-borderless list-group-sm">
            <li class="list-group-item pl-0 py-2 text-secondary" style="">
              <span class="text-secondary">
                <i class="material-icons mr-1">event</i>
                <span class="time mr-2">08:00</span>
              </span>
              <span class="" style="">Team Meeting</span>
              <span class="ml-2"><i class="material-icons text-success">check</i></span>
            </li>
            <li class="list-group-item pl-0 py-2" style="">
              <span class=" text-warning">
                <i class="material-icons mr-1">mail_outline</i>
                <span class="time mr-2">09:00</span>
              </span>
              <span class="" style="">Email Meeting Minutes</span>
            </li>
            <li class="list-group-item pl-0 py-2 " style="">
              <span class="text">
                <i class="material-icons mr-1">mail_outline</i>
                <span class="time mr-2">13:00</span>
              </span>
              <span class="" style="">Technical Report</span>
            </li>
            <li class="list-group-item pl-0 py-2" style="">
              <span class="text">
                <i class="material-icons mr-1">event</i>
                <span class="time mr-2">17:00</span>
              </span>
              <span class="" style="">Meeting with <a href="">John</a></span>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-feature float-right">
            <div class="media-box bg-primary text-white">
              <i class="material-icons">file_download</i>
            </div>
          </div>
          <h5 class="card-title">
            Downloads
          </h5>
          <h3 style="font-weight:300">200,000</h3>
          <p class="text-secondary  mb-2">
            Monthly Downloads Trend on App Store
          </p>

          <div class="chart-container" style="width: 100%; height: 8.5rem">
            <canvas id="myChart" width="400" height="120" [appChartjs]="demodata.charts[0]"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-feature float-right">
            <div class="media-box bg-success text-white">
              <i class="material-icons">attach_money</i>
            </div>
          </div>
          <h5 class="card-title">
            Revenue
          </h5>
          <h3 style="font-weight:300">$11,000,000</h3>
          <p class="text-secondary  mb-2">
            Monthly Downloads Trend on App Store
          </p>
          <div class="chart-container" style="width: 100%; height: 8.5rem">
            <canvas id="myChart" [appChartjs]="demodata.charts[2]"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-feature float-right">
            <div class="media-box media-box-sm bg-info text-white">
              <i class="material-icons">bookmark</i>
            </div>
          </div>
          <div class="card-feature float-right">
          </div>
          <h5 class="card-title">
            Project Miami
          </h5>
          <p class="text-secondary mb-4"  style="">
            Progress Report
          </p>
          <h6 class="mb-2 text-secondary">
            Create a Presentation
          </h6>
          <div class="mb-4" style="">
            <div class="progress progress-thin" style="height:4px">
              <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="py-1">
            <h6 class="mb-2 text-secondary">
              Discuss Full Doc Requirements
            </h6>
            <div class="mb-4" style="">
              <div class="progress progress-thin" style="height:4px">

                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            New Teammates!
          </h5>
          <p class="text-secondary">
            Say Hello!
          </p>
        </div>
        <div class="card-body py-0 px-0">
          <div class="media align-items-center py-3 px-4" style="border-top: 1px solid #eee">
            <img class="mr-3" src="/assets/img/face4.jpeg" alt="Generic placeholder image" style="width:2.5rem; height: 2.5rem; border-radius:50%">
            <div class="media-body d-flex align-items-center">
              <h6 class="mb-0">Lianna Parker</h6>
            </div>

          </div>
          <div class="media align-items-center py-3 px-4" style="border-top: 1px solid #eee">
            <img class="mr-3" src="/assets/img/face3.jpeg" alt="Generic placeholder image" style="width:2.5rem; height: 2.5rem; border-radius:50%">
            <div class="media-body d-flex align-items-center">
              <h6 class="mb-0">Joane Kirk</h6>
            </div>

          </div>
          <div class="media align-items-center py-3 px-4" style="border-top: 1px solid #eee">
            <img class="mr-3" src="/assets/img/face5.jpeg" alt="Generic placeholder image" style="width:2.5rem; height: 2.5rem; border-radius:50%">
            <div class="media-body d-flex align-items-center">
              <h6 class="mb-0">Scotty Johnson</h6>
            </div>

          </div>
        </div>
      </div>





    </div>
    <div class="col-12 col-lg-8">
      <div class="row">



      </div>
      <div class="card">
        <div class="card-body">
          <div class="card-feature float-right">
            <div class="media-box bg-info text-white">
              $
            </div>
          </div>
          <h5 class="card-title" class="mb-3">
            Revenue
          </h5>
          <h5 style="font-weight:300" class="mb-3">
            $19% Average Quarterly Rise
          </h5>
          <p class="text-secondary ">
            Revenue Generation Trend (Quarterly) (In $ thousands )
          </p>
          <div class="chart-container" style="width:100%; height:24rem">
            <canvas id="my-chart-2" [appChartjs]="demodata.charts[1]"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            My Tasks
          </h5>
        </div>
        <div class="card-body px-0">
          <div class="media align-items-center py-4 px-6" style="border-top: 1px solid #eee">
            <label class="custom-control custom-checkbox m-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator custom-control-material"></span>
            </label>
            <div class="media-body pl-3 d-flex justify-content-between">
              <p class="mb-0">Check Warp Speed Beam Capabilities</p>
              <span class="text-sm text-warning ">Tomorrow</span>
            </div>

          </div>
          <div class="media align-items-center py-4 px-6" style="border-top: 1px solid #eee">
            <label class="custom-control custom-checkbox m-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator custom-control-material"></span>
            </label>
            <div class="media-body pl-3 d-flex justify-content-between">
              <p class="mb-0">Repair Forward Defence Shield</p>
              <span class="text-sm text-secondary ">12 Jan 2017</span>
            </div>

          </div>
          <div class="media align-items-center py-4 px-6" style="border-top: 1px solid #eee">
            <label class="custom-control custom-checkbox m-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator custom-control-material"></span>
            </label>
            <div class="media-body pl-3 d-flex justify-content-between">
              <p class="mb-0">Restock Proton Torpedos</p>
              <span class="text-sm text-warning ">1 Jan 2017</span>
            </div>

          </div>
          <div class="media align-items-center py-4 px-6" style="border-top: 1px solid #eee">
            <label class="custom-control custom-checkbox m-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator custom-control-material"></span>
            </label>
            <div class="media-body pl-3 d-flex justify-content-between">
              <p class="mb-0">Restock Space Sickness Medicine</p>
              <span class="text-sm text-secondary ">11 Jan 2017</span>
            </div>

          </div>
          <div class="media align-items-center py-4 px-6" style="border-top: 1px solid #eee">
            <label class="custom-control custom-checkbox m-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator custom-control-material"></span>
            </label>
            <div class="media-body pl-3 d-flex justify-content-between">
              <p class="mb-0">Repair Forward Defence Shield</p>
              <span class="text-sm text-secondary ">12 Jan 2017</span>
            </div>

          </div>
          <div class="media align-items-center py-4 px-6" style="border-top: 1px solid #eee">
            <label class="custom-control custom-checkbox m-0">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator custom-control-material"></span>
            </label>
            <div class="media-body pl-3 d-flex justify-content-between">
              <p class="mb-0">Restock Proton Torpedos</p>
              <span class="text-sm text-warning ">1 Jan 2017</span>
            </div>

          </div>

        </div>
      </div>


    </div>
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h5>
            Revenue Share
          </h5>
          <p class="text-secondary">
            Month On Month
          </p>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <div id="my-chart-4" [appC3]="demodata.charts[3]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
