<div class="conatiner-fluid">
  <div class="row">
    <div class="col-lg-7 col-12">
      <div class="card">
        <div class="card-header">
          <h5>Carousel</h5>
        </div>
        <div class="card-body">
          <p class="text-secondary">Use <code>ngb-carousel</code> directive with <code>ngbSlide</code> to generate a carousel</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-7 col-12">
      <div class="card">
        <div class="card-header">
          <h5>Carousel</h5>
        </div>
        <div class="card-body pt-0">


        <ngb-carousel>
          <ng-template ngbSlide>
            <img src="assets/img/iss.jpeg" alt="Random first slide" class="img-fluid">
            <div class="carousel-caption">
              <h3>The UN Space Shuttle</h3>
              <p>Buy why, some say, the moon? Why choose this as our goal?</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/img/arch.jpg" alt="Random second slide" class="img-fluid">
            <div class="carousel-caption">
              <h3>The History of Science</h3>
              <p>We want to explore. We’re curious people.We believe in what we’re doing.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/img/flight.jpg" alt="Random third slide" class="img-fluid">
            <div class="carousel-caption">
              <h3>The Launch of Dreams</h3>
              <p>I believe every human has a finite number of heartbeats. </p>
            </div>
          </ng-template>
        </ngb-carousel>


        </div>
      </div>
    </div>
  </div>
</div>
