<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card m-auto" style="max-width: 70rem">
        <div class="card-body px-0 py-2">
          <ngb-tabset type="material">

            <ngb-tab>
              <ng-template ngbTabTitle><i class="material-icons mr-2">person</i> Account</ng-template>
              <ng-template ngbTabContent>
                <div class="d-lg-flex">
                  <div class="" style="width: 20rem;">
                    <div class="p-8">
                      <div class="image-with-text ">
                        <div class="image">
                          <img src="assets/img/face4.jpeg" alt="" class="img-fluid">
                        </div>
                        <div class="image-text">
                          <h5 class="text-white">Change Photo</h5>
                        </div>


                      </div>

                    </div>

                  </div>
                  <div style="flex:1">

                    <div class="py-6 px-8 pr-10 border-left">
                        <h5 class="font-weight-bold text-secondary mb-6">Personal Details</h5>
                        <div class="form-group mb-6">
                          <label for="">First Name</label>
                          <input type="text" class="form-control" value="John">
                        </div>

                        <div class="form-group mb-6">
                          <label for="">Last Name</label>
                          <input type="text" class="form-control" value="Doe">
                        </div>

                        <div class="form-group mb-6">
                          <label for="">Email</label>
                          <input type="text" class="form-control" value="johndoe@iss.com">
                        </div>

                        <div class="form-group mb-6">
                          <label for="">Phone</label>
                          <input type="text" class="form-control" value="040 125411">
                        </div>
                    </div>
                    <div class="py-6 px-8 pr-10 border-left border-top">
                        <h5 class="font-weight-bold text-secondary mb-6">Communication Address</h5>
                        <div class="form-group mb-6">
                          <label for="">Street Address</label>
                          <input type="text" class="form-control" value="123 Bing Street">
                        </div>

                        <div class="form-group mb-6">
                          <label for="">City</label>
                          <input type="text" class="form-control" value="New York">
                        </div>

                        <div class="form-group mb-6">
                          <label for="">State</label>
                          <select class="form-control">
                            <option value="NY">New York</option>
                          </select>

                        </div>

                        <div class="form-group mb-6">
                          <label for="">Phone</label>
                          <input type="text" class="form-control" value="040 125411">
                        </div>
                    </div>
                    <div class="py-6 px-8 pr-10 border-left border-top">
                        <h5 class="font-weight-bold text-secondary mb-6">Bio</h5>
                        <div class="form-group mb-6">
                          <label for="">About You</label>
                          <textarea class="form-control" name="" id=""></textarea>
                        </div>


                    </div>
                    <div class="py-6 px-8 pr-10 border-left border-top">
                      <div class="text-right">
                        <button class="btn btn-primary mr-4">Save</button> <button class="btn btn-secondary">Cancel</button>
                      </div>
                    </div>

                  </div>
                </div>
              </ng-template>
            </ngb-tab>





          </ngb-tabset>
        </div>
        <div class="card-footer">
          <div class="icons" style="font-size: 1.8em">
            <i class="fa fa-cc-visa mr-2"></i>
            <i class="fa fa-cc-mastercard mr-2"></i>
            <i class="fa fa-paypal mr-2"></i>
            <i class="fa fa-cc-amex mr-2"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
