<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5>Pagination</h5>
        </div>
        <div class="card-body">
          <p class="text-secondary">
            You can use pagination with multiple color themes
          </p>
          <p class="text-secondary">
            For the angular version use <code>ngb-pagination</code> directive provided by ng-bootstrap. Add class <code>.pagination-[variation]</code> to change color
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Pagination
          </h5>
          <p class="text-secondary">
            Use <code>ngb-pagination</code> for bootstrap pagination with Angular
          </p>
          <div class="mb-4">
            <div class="mb-2 text-secondary">Default pagination</div>
            <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
          </div>

          <div class="mb-3">
            <div class="mb-2  text-secondary">Without Direction Links and Primary Color</div>
            <ngb-pagination [collectionSize]="50" [(page)]="page" [directionLinks]="false" class="pagination-primary"></ngb-pagination>

          </div>
          <div class="mb-3">
            <div class="mb-2  text-secondary">With Boundry Links and Success Color</div>
            <ngb-pagination [collectionSize]="50" [(page)]="page" [boundaryLinks]="true" class="pagination-success"></ngb-pagination>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
