<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-12 " style="">
      <div class="card">
        <div class="card-body p-0">
          <div class="cover" style="max-height:15rem; overflow: hidden;">
            <img src="assets/img/mountains.jpeg" alt="Profile Cover" style="width:100%">
          </div>
          <div class="photo text-center pull-up-lg">
            <img src="assets/img/face2.jpeg" alt="Profile Cover" class="img-thumb-lg">
          </div>
          <div class="title text-center py-4">
            <h4 class="name">
              James Kirk
            </h4>
            <p class="text-secondary">
              Captain and Commander in Chief
            </p>
            <div class="p-2">
              <button class="btn btn-outline-primary mr-3">
                Follow
              </button>
              <button class="btn btn-outline-info">
                Message
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex" style="justify-content: space-between;">
          <div class="py-3" style="text-align: center; border-top: 1px solid #eae5ef; width: 100%">
            <h4 class="text-primary">122</h4>
            <p class="m-0 text-secondary">Followers</p>
          </div>
          <div class="py-3" style="text-align: center;  border-left: 1px solid #eae5ef;border-top: 1px solid #eae5ef;  width: 100%">
            <h4  class="text-info">4</h4>
            <p class="m-0  text-secondary">Awards</p>
          </div>
          <div class="py-3" style="text-align: center;  border-left: 1px solid #eae5ef;border-top: 1px solid #eae5ef; width: 100%">
            <h4  class="text-danger">5</h4>
            <p class="m-0  text-secondary">Reportees</p>
          </div>
        </div>

      </div>
      <div class="card">
        <div class="card-body px-0 py-2">
          <ngb-tabset type="material">
            <ngb-tab title="ABOUT">
              <ng-template ngbTabContent>
                <div class="py-4 px-6">
                  <h6>About Me</h6>
                  <p class="mb-4 text-secondary">
                    Spaceflights cannot be stopped. This is not the work of any one man or even a group of men.
                     It is a historical process which mankind is carrying out in accordance with the natural laws of human development.
                  </p>

                  <h6>Hobbies</h6>
                  <p class="mb-4 text-secondary">
                    Dancing, Reading, Staring and the Stars
                  </p>

                </div>

              </ng-template>
            </ngb-tab>
            <ngb-tab title="CONTACT">
              <ng-template ngbTabContent>
                <div class="py-4 px-6">
                  <h6>Social</h6>
                  <p class="mb-4 text-secondary">
                    <span class="text-info mr-4">
                      <i class="fa fa-twitter mr-1"></i> @astronaut_12
                    </span>
                    <span class="text-primary">
                      <i class="fa fa-facebook mr-1"></i> Astronaut John
                    </span>
                  </p>

                  <h6>Email</h6>
                  <p class="mb-4 text-secondary">
                    astronaut12@nasa.com
                  </p>
                </div>

              </ng-template>
            </ngb-tab>
          </ngb-tabset>

        </div>
      </div>

      <div class="card">
        <div class="feed-item">

        </div>
        <div class="post-container">
          <div class="post" style="font-size:1.05em">
            <div class="title d-flex align-items-center px-4 py-3" style="border-bottom: 1px solid #eee;">
              <div class="thumb">
                <img class="img-thumb" src="assets/img/face2.jpeg" alt="Generic placeholder image">
              </div>

              <div class="title ml-3 " >
                <h5 class="mt-0 mb-0">James Kirk</h5>
              </div>
            </div>
            <div class="post-content py-4 px-4">
              Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.  </div>
            <div class="actions px-4 py-2" >
              <a class="text-secondary ml-1 mr-2"><i class="material-icons mr-2 text-info">chat_bubble_outline</i>13 Comments</a>
              <a class="text-secondary ml-1"><i class="material-icons mr-2 text-success">thumb_up</i>113 Likes</a>
            </div>
          </div>
        </div>


      </div>

      <div class="card">
        <div class="feed-item">

        </div>
        <div class="post-container">
          <div class="post" style="font-size:1.05em">
            <div class="title d-flex align-items-center px-4 py-3" style="border-bottom: 1px solid #eee;">
              <div class="thumb">
                <img class="img-thumb" src="assets/img/face2.jpeg" alt="Generic placeholder image">
              </div>

              <div class="title ml-3 " >
                <h5 class="mt-0 mb-0">James Kirk</h5>
              </div>
            </div>
            <div class="post-content py-4 px-4">
            As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
            </div>
            <div class="actions px-4 py-2" >
              <a class="text-secondary ml-1 mr-2"><i class="material-icons mr-2 text-info">chat_bubble_outline</i>13 Comments</a>
              <a class="text-secondary ml-1"><i class="material-icons mr-2 text-success">thumb_up</i>113 Likes</a>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-lg-7 col-12">
      <div class="card">
        <div class="feed-item">

        </div>
        <div class="post-container">
          <div class="post" style="font-size:1.05em">
            <div class="title d-flex align-items-center px-4 py-3" style="border-bottom: 1px solid #eee;">
              <div class="thumb">
                <img class="img-thumb" src="assets/img/face1.jpeg" alt="Generic placeholder image">
              </div>

              <div class="title ml-3 " >
                <h5 class="mt-0 mb-0">Alex Rogers</h5>
              </div>
            </div>
            <div class="post-content py-4 px-4">
                To be the first to enter the cosmos, to engage, single-handed, in an unprecedented duel with nature—could one dream of anything more?
            </div>
            <div class="actions px-4 py-2" >
              <a class="text-secondary ml-1 mr-2"><i class="material-icons mr-2 text-info">chat_bubble_outline</i>13 Comments</a>
              <a class="text-secondary ml-1"><i class="material-icons mr-2 text-success">thumb_up</i>113 Likes</a>
            </div>
          </div>
          <div class="comments">
            <div class="comment" style="border-top: 1px solid #eee;">
              <div class="d-flex align-items-top px-4 py-3">
                <div class="thumb">
                  <img class="img-thumb-xs" src="assets/img/face4.jpeg" alt="Generic placeholder image">
                </div>
                <div class="post ml-3 py-1">
                  <div class="title" >
                    <h6 class="mt-0 mb-0">Sienna Miller</h6>
                  </div>
                  <div class="post py-2 text-secondary" style="max-width: 80%">
                    <p class="mb-0">
                      Curious that we spend more time congratulating people who have succeeded
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment" style="border-top: 1px solid #eee;">
              <div class="d-flex align-items-top px-4 py-3">
                <div class="thumb">
                  <img class="img-thumb-xs" src="assets/img/face3.jpeg" alt="Generic placeholder image">
                </div>
                <div class="post ml-3 py-1">
                  <div class="title" >
                    <h6 class="mt-0 mb-0">Kieth Rogers</h6>
                  </div>
                  <div class="post py-2 text-secondary" style="max-width: 80%">
                    <p class="mb-0">
                      We have an infinite amount to learn both from nature and from each other
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment comment-new" style="border-top: 1px solid #eee;">
              <div class="d-flex align-items-center px-4 py-2">
                <div class="thumb">
                  <img class="img-thumb-xs" src="assets/img/face2.jpeg" alt="Generic placeholder image">
                </div>
                <div class="post ml-3 py-1" style="width: 100%">
                  <div class="post text-secondary">
                    <input type="text" placeholder="Add a Comment" class="form-control form-control-clear">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="card">
        <div class="feed-item">

        </div>
        <div class="post-container">
          <div class="post" style="font-size:1.05em">
            <div class="title d-flex align-items-center px-4 py-3" style="border-bottom: 1px solid #eee;">
              <div class="thumb">
                <img class="img-thumb" src="assets/img/face5.jpeg" alt="Generic placeholder image">
              </div>

              <div class="title ml-3 " >
                <h5 class="mt-0 mb-0">Tim Kirk</h5>
              </div>
            </div>
            <div class="post-content py-4 px-4 ">
             You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.
             <div class="px-1 py-6" >
                 <img style="height:12rem" src="assets/img/mountains.jpeg" alt="Generic placeholder image">
             </div>
            </div>
            <div class="actions px-4 py-2" >
              <a class="text-secondary ml-1 mr-2"><i class="material-icons mr-2 text-info">chat_bubble_outline</i>13 Comments</a>
              <a class="text-secondary ml-1"><i class="material-icons mr-2 text-success">thumb_up</i>113 Likes</a>
            </div>
          </div>
          <div class="comments ">
            <div class="comment" style="border-top: 1px solid #eee;">
              <div class="d-flex align-items-top px-4 py-3">
                <div class="thumb">
                  <img class="img-thumb-xs" src="assets/img/face4.jpeg" alt="Generic placeholder image">
                </div>
                <div class="post ml-3 py-1">
                  <div class="title" >
                    <h6 class="mt-0 mb-0">Sienna Miller</h6>
                  </div>
                  <div class="post py-2 text-secondary" style="max-width: 80%">
                    <p class="mb-0">
                      The sky is the limit only for those who aren't afraid to fly!
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
      <div class="card">
        <div class="feed-item">

        </div>
        <div class="post-container">
          <div class="post" style="font-size:1.05em">
            <div class="title d-flex align-items-center px-4 py-3" style="border-bottom: 1px solid #eee;">
              <div class="thumb">
                <img class="img-thumb" src="assets/img/face5.jpeg" alt="Generic placeholder image">
              </div>

              <div class="title ml-3 " >
                <h5 class="mt-0 mb-0">Tim Kirk</h5>
              </div>
            </div>
            <div class="post-content py-4 px-4">
             You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.
          </div>
            <div class="actions px-4 py-2" >
              <a class="text-secondary ml-1 mr-2"><i class="material-icons mr-2 text-info">chat_bubble_outline</i>13 Comments</a>
              <a class="text-secondary ml-1"><i class="material-icons mr-2 text-success">thumb_up</i>113 Likes</a>
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>
</div>
