<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <h5>
            Typeahead
          </h5>
          <p class="text-secondary">
            Use <code>[ngbTypeahead]</code> with Rx.js Observables for Typeahead
          </p>
          <label for="typeahead-basic">Search for a Country:</label>
          <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
        </div>
      </div>
    </div>
  </div>
</div>
