<div class="container-fluid">
  <div class="d-flex justify-content-lg-center">
    <div class="card p-8" style="width: 60rem" >
      <div class="card-body ">
        <div class="card-feature float-left">
          <div class="media-box bg-primary text-white">
            <i class="material-icons">all_inclusive</i>
          </div>
        </div>
        <div class="text-secondary text-right px-2 py-2">
          <h5 class="mb-2"><span class="mr-1">Invoice</span> #312443</h5>
          <p class="text-sm">22 Jan 2018</p>
        </div>
      </div>
      <div class="d-md-flex justify-content-between px-4 py-4">
        <div class="seller py-4">
          <p class="text-secondary">FROM,</p>
          <h5 class="text-info">
            Geekman.site
          </h5>

          <address class="address text-tall">
            12/30 <br>
            Lexington Avenue <br>
            The City of Ninjas <br>
            Atlantis - 01 <br>
          </address>

        </div>

        <div class="customer py-4">
          <p class="text-secondary">TO,</p>
          <h5 class="">
            Alexis M Pvt. Ltd.
          </h5>

          <address class="address text-tall">
            12/30 <br>
            Lexington Avenue <br>
            The City of Ninjas <br>
            Atlantis - 01 <br>
          </address>

        </div>
      </div>
      <div class="contents">
        <div class="table-responsive">
        <table class="table invoive-items">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>List Price</th>
                  <th>Discount</th>
                  <th>Subtotal</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>
                      1
                  </td>
                  <td class="text-small">
                      Starship Window Wipers <br> <span class="text-muted">Form 12 Feet Window</span>
                  </td>
                  <td>
                      1
                  </td>
                  <td>
                      100,000$
                  </td>
                  <td>
                      5%
                  </td>
                  <td>
                      95,000$
                  </td>
              </tr>
              <tr>
                  <td>
                      1
                  </td>
                  <td>
                      Space Tan Gel
                      <br> <span class="text-muted">Brand XYZ</span>
                  </td>
                  <td>
                      1
                  </td>
                  <td>
                      200$
                  </td>
                  <td>

                  </td>
                  <td>
                      200$
                  </td>
              </tr>
              <tr>
                  <td>
                      1
                  </td>
                  <td>
                      Telescope
                      <br> <span class="text-muted">Electoronic Reflection Space Telescope</span>
                  </td>
                  <td>
                      1
                  </td>
                  <td>
                      500,000$
                  </td>
                  <td>
                      20%
                  </td>
                  <td>
                      400,000$
                  </td>
              </tr>
              <tr>
                  <td colspan="5" class="align-right"><strong>Subtotal</strong></td>
                  <td>
                      495200$
                  </td>
              </tr>

          </tbody>
      </table>
      </div>
      <hr>
      <p class="text-sm text-muted px-2 py-2">
        Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals.
      </p>
      </div>
      <div class="invoice-summary">
        <table class="table table-noborders pull-right" style="width:20em;">
          <tbody>
            <tr>
              <td class="align-right"><strong>Subtotal</strong></td>
              <td>
                495200$
              </td>
            </tr>
            <tr>
              <td class="align-right"><strong>VAT</strong></td>
              <td>
                10%
              </td>
            </tr>
            <tr>
              <td class="align-right"><strong><span class="text-large ">Gross Total</span></strong></td>
              <td class="">
                <span class="text-large text-danger semi-bold">497200 $</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="btn btn-block btn-primary">PAY NOW</div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
  </div>
</div>
