<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5>Timeline</h5>
        </div>
        <div class="card-body">
          <p class="text-secondary">
            The timeline component provides a simple and flexible way to generate small or large timelnes.
          </p>
          <p class="text-secondary">
            Show Employee progress or events, or show profile timeline style
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5>Demo Timeline</h5>
        </div>
        <div class="card-body pb-12  pt-2">
          <div class="timeline">
            <div class="timeline-event  single-circle timeline-event-primary">
              <div class="timeline-line"></div>
              <div class="timeline-time mb-2">
                <strong class="text-secondary">December 1 09:00 PM</strong>
              </div>
              <div class="timeline-event-card p-0">
                <p class="mb-0 text-secondary">
                  It suddenly struck me that that tiny pea, pretty and blue, was the Earth.
                  I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very small.
                </p>
              </div>
            </div>

            <div class="timeline-event  single-circle timeline-event-success">
              <div class="timeline-line"></div>
              <div class="timeline-time mb-2">
                <strong class="text-secondary">August 15 12:00 PM</strong>
              </div>
              <div class="timeline-event-card p-0 bg-white border">
                <div class="post-container">
                  <div class="post">
                    <div class="title d-flex align-items-center px-4 py-3 border-bottom">
                      <div class="thumb">
                        <img class="img-thumb" src="assets/img/face2.jpeg" alt="Generic placeholder image">
                      </div>

                      <div class="title ml-3 " >
                        <h5 class="mt-0 mb-0">James Kirk</h5>
                      </div>
                    </div>
                    <div class="post-content py-4 px-4">
                      Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.  </div>
                    <div class="actions px-4 py-2" >
                      <a class="text-secondary ml-1 mr-2"><i class="material-icons mr-2">chat_bubble_outline</i>13 Comments</a>
                      <a class="text-secondary ml-1"><i class="material-icons mr-2">thumb_up</i>113 Likes</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="timeline-event  single-circle">
              <div class="timeline-line"></div>
              <div class="timeline-time mb-2">
                <strong class="text-secondary">August 1 08:00 AM</strong>
              </div>
              <div class="timeline-event-card bg-light border">
                <p class="mb-0">
                  The regret on our side is, they used to say years ago, we are reading about you in science class.
                </p>
              </div>
            </div>

            <div class="timeline-event  single-circle tiemline-event-danger">
              <div class="timeline-line"></div>
              <div class="timeline-time mb-2">
                <strong class="text-secondary">July 12 12:00 PM</strong>
              </div>
              <div class="timeline-event-card bg-light border">
                <p class="mb-0">
                  It suddenly struck me that that tiny pea, pretty and blue, was the Earth.
                  I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very small.
                </p>
              </div>
            </div>
            <div class="timeline-event  single-circle tiemline-event-danger">
              <div class="timeline-line"></div>
              <div class="timeline-time mb-2">
                <strong class="text-secondary">July 11 12:00 PM</strong>
              </div>
              <div class="timeline-event-card bg-light border">
                <p class="mb-0">

                  I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant.
                </p>
              </div>
            </div>

            <div class="timeline-event pb-0 timeline-event-last">
              <div class="timeline-time mb-0">
                <strong class="text-secondary">The Beginning of Time</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-4">
      <div class="card bg-primary text-white">
        <div class="card-header">
          <h5>Light Timeline</h5>
        </div>
        <div class="card-body pb-12  pt-2">
          <div class="timeline">
            <div class="timeline-dotted-line"></div>
            <div class="timeline-event single-circle timeline-event-light">
              <div class="timeline-line"></div>
              <div class="timeline-time mb-2">
                <strong class="text-light">July 12 12:00 PM</strong>
              </div>
              <div class="timeline-event-card p-0">
                <p class="mb-0">
                  Spaceflights cannot be stopped. This is not the work of any one man.
                </p>
              </div>
            </div>

            <div class="timeline-event single-circle  timeline-event-light">
              <div class="timeline-line"></div>
              <div class="timeline-time mb-2">
                <strong class="text-light">Jan 22 09:00 AM</strong>
              </div>
              <div class="timeline-event-card p-0">
                <p class="mb-0">
                  When I orbited the Earth in a spaceship, I saw for the first time how beautiful our planet is.
                </p>
              </div>
            </div>
            <div class="timeline-event timeline-event-light pb-0 timeline-event-last">
              <div class="timeline-time mb-0">
                <strong class="text-light">The Beginning of Time</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5>Employee Timeline</h5>
        </div>
        <div class="card-body pb-12  pt-2">
          <div class="timeline">
            <div class="timeline-dotted-line"></div>
            <div class="timeline-event single-circle timeline-event-success">
              <div class="timeline-line"></div>
              <div class="timeline-time mb-2">
                <strong class="text-dark">July 12 2017</strong>
              </div>
              <div class="timeline-event-card p-0">
                <p class="mb-0">
                  <span class="text-primary">John Doe</span> was Promoted to Vice President
                </p>
              </div>
            </div>

            <div class="timeline-event single-circle  timeline-event-success">
              <div class="timeline-line"></div>
              <div class="timeline-time mb-2">
                <strong class="text-dark">Jan 22 2017</strong>
              </div>
              <div class="timeline-event-card p-0">
                <p class="mb-0">
                  Completed 5 Years at ISS
                </p>
              </div>
            </div>
            <div class="timeline-event pb-0 timeline-event-info">
              <div class="timeline-time mb-0">
                <strong class="text-dark">Jan 2012 Joined ISS</strong>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5>Large Timeline</h5>
        </div>
        <div class="card-body pb-12  pt-2">
          <div class="timeline timeline-lg" style="font-size: 1.1em; ">
            <div class="timeline-event  single-circle timeline-event-primary">
              <div class="timeline-line"></div>
              <div class="timeline-time mb-2">
                <span class="text-secondary">December 1 09:00 PM</span>
              </div>
              <div class="timeline-event-card bg-light border">
                <p class="mb-0">
                  It suddenly struck me that that tiny pea, pretty and blue, was the Earth.
                  I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very small.
                </p>
              </div>
            </div>

            <div class="timeline-event  single-circle timeline-event-success">
              <div class="timeline-line"></div>
              <div class="timeline-time mb-2">
                <span class="text-secondary">August 15 12:00 PM</span>
              </div>
              <div class="timeline-event-card bg-light border">
                <p class="mb-0">
                  When I orbited the Earth in a spaceship, I saw for the first time how beautiful our planet is. Mankind, let us preserve and increase this beauty, and not destroy it!
                </p>
              </div>
            </div>
            <div class="timeline-event pb-0 timeline-event-last">
              <div class="timeline-time mb-0">
                <strong class="text-secondary">The Beginning of Time</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5>Timeline Classes</h5>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  Class
                </th>
                <th>
                  Use
                </th>
              </tr>

            </thead>
            <tbody>
              <tr>
                <td>
                  <code>.timeline</code>
                </td>
                <td>
                  Wrapper Element Around Your timeline
                </td>
              </tr>
              <tr>
                <td>
                  <code>.timeline-lg</code>
                </td>
                <td>
                  Add this class to <code>.timeline</code> to generate bigger dots
                </td>
              </tr>
              <tr>
                <td>
                  <code>.timeline-event</code>
                </td>
                <td>
                  A timeline event wrapper, add this around each timeline event
                </td>
              </tr>
              <tr>
                <td>
                  <code>.timeline-event-[[color]]</code>
                </td>
                <td>
                  Add a color variant to <code>.timeline-event</code> where color is one of the theme colors.

                </td>
              </tr>
              <tr>
              <td>
                <code>.timeline-line</code>
              </td>
              <td>
                Add Inside a <code>.timeline-event</code> to add a line on the left
              </td>
              </tr>
              <tr>
                <td>
                  <code>.timeline-event-card</code>
                </td>
                <td>
                  Wrapper around the timeline text
                </td>
              </tr>
              <tr>
                <td>
                  <code>.single-dot</code>
                </td>
                <td>
                  Add this class to a <code>.timeline-event</code> to show a single dot instead of a default dot inside cirlce
                </td>
              </tr>
              <tr>
                <td>
                  <code>.single-circle</code>
                </td>
                <td>
                  Add this class to a <code>.timeline-event</code> to show a single circle instead of a default dot inside cirlce
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
