<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5>Chart.js</h5>
        </div>
        <div class="card-body">
          <p class="text-secondary">
            Chart.js is flexible, free and open source JavaScript library that uses <code>canvas</code> API to draw charts.
          </p>
          <p class="text-secondary">
            Simplify Admin provides the <code>ChartjsDirective</code> to bind a canvas element to a chart. Simply pass the chart data as Input to the directive.
          </p>
        </div>
      </div>
    </div>
  </div>
  <h5 class="section-title">
    Basic Charts
  </h5>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-header">
          <h5>
            Bar Chart
          </h5>
        </div>
        <div class="card-body card-body-p">
          <div class="chart-container">
            <canvas  [appChartjs]="demodata[1]"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-header">
          <h5>
            Line Chart
          </h5>
        </div>
        <div class="card-body card-body-p">
          <div class="chart-container">
            <canvas  [appChartjs]="demodata[0]"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-header">
          <h5>
            Pie Chart
          </h5>
        </div>
        <div class="card-body card-body-p">
          <div class="chart-container">
            <canvas  [appChartjs]="demodata[3]"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-header">
          <h5>
            Area Chart
          </h5>
        </div>
        <div class="card-body card-body-p">
          <div class="chart-container">
            <canvas  [appChartjs]="demodata[4]"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h5 class="section-title">
    Advanced Charts
  </h5>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-header">
          <h5>
            Line and Bar Chart
          </h5>
        </div>
        <div class="card-body card-body-p">
          <div class="chart-container">
            <canvas  [appChartjs]="demodata[2]"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-header">
          <h5>
            Scatter Chart
          </h5>
        </div>
        <div class="card-body card-body-p">
          <div class="chart-container">
            <canvas  [appChartjs]="demodata[5]"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-header">
          <h5>
            Bubble Chart
          </h5>
        </div>
        <div class="card-body card-body-p">
          <div class="chart-container">
            <canvas width="500" height="400" [appChartjs]="demodata[6]"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
