<aside  class="sidebar sidebar-left"
  [ngClass]="{collapsed: settings.sidebar.left.collapsed,visible: settings.sidebar.left.visible, 'sidebar-fixed': settings.sidebar.left.fixed}"
  [class.sidebar-dark]=" settings.sidebar.left.background == 'dark'"
  [class.sidebar-light]=" settings.sidebar.left.background == 'light'">

  <div [appScrollbar]="" class="scroll">
    <div class="sidebar-header text-white" [ngClass]="headerClass()">
      <div class="sidebar-brand d-flex justify-content-between align-items-center">
        <div class="title text-truncate">
          Simplify Admin
        </div>
        <div class="logo align-items-center justify-content-around">
          <i class="material-icons">all_inclusive</i>
        </div>
      </div>
    </div>
  <div class="sidebar-nav-container">
    <ul class="list-nav sidebar-nav" [ngClass]="navClass()" appCollapsibleNav>
      <ng-container *ngFor="let item of menu">
        <li class="list-nav-group-title" *ngIf="item.isLabel">
            <span>
              {{item.label}}
            </span>
        </li>
        <li class="list-nav-item" routerLinkActive="active" *ngIf="!item.isLabel">
          <a *ngIf="!(item.children && item.children.length)" routerLink="{{ item.path }}" class="list-nav-link">

            <span class="list-nav-icon">
              <i class="{{ item.icon.class }}">{{ item.icon.content }}</i>
            </span>
            <span class="list-nav-label">{{ item.label }}</span>
            <span class="list-nav-expand" *ngIf="item.children && item.children.length">
              <i class="material-icons">add</i>
            </span>
          </a>
          <a href="#" *ngIf="(item.children && item.children.length)" class="list-nav-link">
            <span class="list-nav-icon">
              <i class="{{ item.icon.class }}">{{ item.icon.content }}</i>
            </span>
            <span class="list-nav-label">{{ item.label }}</span>
            <span class="list-nav-expand" *ngIf="item.children && item.children.length">
              <i class="material-icons">add</i>
            </span>
          </a>
          <ul class="list-nav-child" *ngIf="item.children && item.children.length">
            <li class="list-nav-item list-nav-child-item" *ngFor="let subitem of item.children" routerLinkActive="active">
              <a routerLink="{{ subitem.path }}" class="list-nav-link">
                <span class="list-nav-icon list-nav-icon-sm">
                  <i class="material-icons">keyboard_arrow_right</i>
                </span>
                <span class="list-nav-label">{{ subitem.label }}</span>
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
  </div>
</aside>
