<div class="website">
  <div class="bg-light">
  <div class="topbar-container">
    <nav class="navbar navbar-expand-lg bg-white border-bottom navbar-light py-1">
      <div class="container">
        <a class="navbar-brand text-dark" href="#" style="font-size: 1.2rem;">Geekman</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-4">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link" href="#">Project</a>
            </li>


          </ul>
        </div>
      </div>

    </nav>

  </div>

  <div class="pt-10 border-bottom">
    <div class="text-center mt-8">
      <h2 class="mb-4">
        <span class="d-none d-md-inline">Kickstart Development with </span>Simplify Admin
      </h2>
      <h4 class="text-secondary font-weight-light mb-6">
        Responsive, Ready to use UI and Amin Template
      </h4>
      <div class="mb-8 py-2 ">
        <button class="btn btn-primary mr-4">Angular Preview</button> <button class="btn btn-success mr-4">HTML &amp; jQuery</button>
      </div>
      <div class="mock-image mb-10">
        <img src="assets/img/mock2.png" alt="" class="img-fluid" style="max-width:38rem; width: 100%">
      </div>
    </div>
  </div>
  </div>

  <div class="pt-10 pb-14 border-bottom" style="background: #fff">
    <div class="container mt-8 ">
      <div class="row">

        <div class="col-lg-6">
          <h3 class="mb-4">
            UI and Amin Development made Easy
          </h3>
          <h5 class="text-secondary mb-12">
            With and lot of components and new Pages every Month,<br>
            you can kickstart your development in minutes!
          </h5>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="text-info text-xxl bg-white mb-3">
                <i class="material-icons">multiline_chart</i>
              </div>
              <h4 class="font-weight-normal">Charts</h4>
              <p class="text-secondary">
                With 4 famous charting libraries to help you, you will never have a problem rendering relevant data graphically.
              </p>
            </div>

            <div class="col-12 col-lg-6">
              <div class="text-info text-xxl bg-white mb-3">
                <i class="material-icons">label_outline</i>
              </div>
              <h4 class="font-weight-normal">Components</h4>
              <p class="text-secondary">
                With customized bootstrap 4 components and a lot of utilites, kickstart your UI development in seconds
              </p>
            </div>
            <div class="col-12 col-lg-6">
              <div class="text-info text-xxl bg-white mb-3">
                <i class="material-icons">pages</i>
              </div>
              <h4 class="font-weight-normal">Pages</h4>
              <p class="text-secondary">
                From Login to User profile to Chat, a lot of readymade page templates help you on the way.
              </p>
            </div>

            <div class="col-12 col-lg-6">
              <div class="text-info text-xxl bg-white mb-3">
                <i class="material-icons">star_border</i>
              </div>
              <h4 class="font-weight-normal">Angular 5</h4>
              <p class="text-secondary">
                Use our angular-cli project to kickstart with Angular 5, the most famous front-end framework
              </p>
            </div>

          </div>

        </div>

        <div class="col-lg-6 d-flex justify-content-around align-items-center">
          <div>
            <div class="mock-image text-center mt-4">
              <img src="assets/img/mock2.png" alt="" class="img-fluid" style="max-width:25rem; width: 100%">
            </div>
            <div class="pb-10 py-2 mt-6  text-center">
              <button class="btn btn-primary mr-4">Angular 5</button> <button class="btn btn-success mb-1">HTML &amp; jQuery</button>
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>

  <div class="py-14 bg-light">
    <div class="text-center">
      <h3 style="">New Pages Every Month!</h3>
    </div>
    <div class="container mt-12">
      <div class="row ">
        <div class="col-12 col-lg-6">
          <div class="px-8 text-center mt-2 mb-8">
            <img src="assets/img/mock2.png" alt="" class="img-fluid" style="max-width:25rem; width: 100%">
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="px-4">
            <h5 class="text-info">Featured</h5>
            <h3>
              Project Pages
            </h3>
            <p class="text-secondary">
              A project page for your projects. Start your project management module quickly with our ever expanding project management section.
            </p>
            <p class="text-secondary">
              Want to showcase a Pinned Priority task? Or maybe not?
            </p>
            <div class="py-2  ">
              <button class="btn btn-primary no-shadow mr-4">Angular 5</button> <button class="btn btn-success mr-4">HTML &amp; jQuery</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="py-14 bg-white">
    <div class="text-center">
      <h3 style="">People Talk About Us!</h3>
    </div>
    <div class="container mt-10">
      <div class="text-center">
        <ngb-carousel class="carousel-light carousel-slim">
          <ng-template ngbSlide>
            <div class="px-8 px-lg-14 pb-8">
              <img src="assets/img/face1.jpeg" alt="" class="img-thumb mb-4" style="width: 3.25rem; height: 3.25rem;">
              <p class="text-secondary">
                Never in all their history have men been able truly to conceive of the world as one,
                 a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals.

              </p>
              <h5 class="">
                - Peter Parker
              </h5>
            </div>

          </ng-template>

          <ng-template ngbSlide>
            <div class="px-8 px-lg-14 pb-8">
              <img src="assets/img/face2.jpeg" alt="" class="img-thumb mb-4" style="width: 3.25rem; height: 3.25rem;">
              <p class="text-secondary">
                Never in all their history have men been able truly to conceive of the world as one,
                 a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals.

              </p>
              <h5 class="">
                - Richard Parker
              </h5>
            </div>

          </ng-template>


        </ngb-carousel>

      </div>

    </div>
  </div>

  <div class="py-8 bg-light border-top">
    <div class="text-center">
      <h5 class="mb-0 text-secondary">Copyright geekman.site</h5>
    </div>
  </div>
</div>
