<div class="website" id="fullpage">
  <div class="bg-gradient">
  <div class="topbar-container">
    <nav class="navbar navbar-expand-lg border-bottom-0 navbar-dark py-1">
      <div class="container">
        <a class="navbar-brand font-fancy" href="#" style="font-size: 1.2rem;">Geekman</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-4">
              <a class="nav-link" routerLink="/front/website">Home</a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link" routerLink="/front/website" fragment="features">Features</a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link" routerLink="/front/website" fragment="project">Project</a>
            </li>


          </ul>
        </div>
      </div>

    </nav>

  </div>

  <div class="pt-10 border-bottom">
    <div class="text-center mt-8">
      <h2 class="mb-4">
        <span class="d-none d-md-inline">Kickstart Development with </span>Simplify Admin
      </h2>
      <h4 class="text-secondary font-weight-light mb-6">
        Responsive, Ready to use UI and Amin Template
      </h4>
      <div class="mb-8 py-2 ">
        <a class="btn btn-primary mr-4" routerLink="/dashboard/pro">Angular Preview</a> <button class="btn btn-success mr-4">HTML &amp; jQuery</button>
      </div>
      <div class="mock-image mb-10">
        <img src="assets/img/mac.png" alt="" class="img-fluid" style="max-width:38rem; width: 100%">
      </div>
    </div>
  </div>
  </div>

  <div class="pt-14 pb-14 border-bottom bg-white" id="features">
    <div class="container ">
      <div class="row">

        <div class="col-lg-6">
          <h3 class="mb-4">
            UI and Amin Development made Easy
          </h3>
          <h5 class="text-secondary mb-12">
            With and lot of components and new Pages every Month,<br>
            you can kickstart your development in minutes!
          </h5>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="text-info text-xxl bg-white mb-3">
                <i class="material-icons">multiline_chart</i>
              </div>
              <h4 class="font-weight-normal">Charts</h4>
              <p class="text-secondary">
                With 4 famous charting libraries to help you, you will never have a problem rendering relevant data graphically.
              </p>
            </div>

            <div class="col-12 col-lg-6">
              <div class="text-info text-xxl bg-white mb-3">
                <i class="material-icons">label_outline</i>
              </div>
              <h4 class="font-weight-normal">Components</h4>
              <p class="text-secondary">
                With customized bootstrap 4 components and a lot of utilites, kickstart your UI development in seconds
              </p>
            </div>
            <div class="col-12 col-lg-6">
              <div class="text-info text-xxl bg-white mb-3">
                <i class="material-icons">pages</i>
              </div>
              <h4 class="font-weight-normal">Pages</h4>
              <p class="text-secondary">
                From Login to User profile to Chat, a lot of readymade page templates help you on the way.
              </p>
            </div>

            <div class="col-12 col-lg-6">
              <div class="text-info text-xxl bg-white mb-3">
                <i class="material-icons">star_border</i>
              </div>
              <h4 class="font-weight-normal">Angular 5</h4>
              <p class="text-secondary">
                Use our angular-cli project to kickstart with Angular 5, the most famous front-end framework
              </p>
            </div>

          </div>

        </div>

        <div class="col-lg-6 d-flex justify-content-around align-items-center">
          <div>
            <div class="mock-image text-center mt-4">
              <img src="assets/img/charts.png" alt="" class="img-fluid" style="max-width:26rem; width: 100%">
            </div>
            <div class="pb-10 py-2 mt-6  text-center">
              <a class="btn btn-primary mr-4" routerLink="/dashboard/pro">Angular 5</a> <button class="btn btn-success mb-1">HTML &amp; jQuery</button>
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>

  <div class="py-14 pb-14 bg-light" id="project">
    <div class="text-center">
      <h3 style="">New Pages Every Month!</h3>
    </div>
    <div class="container mt-12">
      <div class="row ">
        <div class="col-12 col-lg-6">
          <div class="px-8 text-center mt-0 mb-0">
            <img src="assets/img/maci.png" alt="" class="img-fluid" style="max-width:24rem; width: 100%;">
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="px-4">
            <h5 class="text-info">Featured</h5>
            <h3>
              Project Pages
            </h3>
            <p class="text-secondary">
              A project page for your projects. Start your project management module quickly with our ever expanding project management section.
            </p>
            <p class="text-secondary">
              Want to showcase a Pinned Priority task? Or maybe not?
            </p>
            <div class="py-2  ">
              <a class="btn btn-primary no-shadow mr-4" routerLink="/projects/single">Angular 5</a> <button class="btn btn-success mr-4">HTML &amp; jQuery</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="py-14 pb-10 bg-white" id="pages">
    <div class="text-center">
      <h3 style="">So many Pages!</h3>
    </div>
    <div class="container mt-12">
      <div class="row ">
        <div class="col-12 col-lg-4 px-8 py-8">
          <div class="page-demo">
            <div class="page-demo-image mb-8 text-center" style="position:relative">
              <img src="assets/img/dash.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">

            </div>
            <div class="page-demo-text text-center">
              <h4>Dashboard</h4>
              <p class="text-secondary">
                Show charts and Important Cards on this Dashboard Page

              </p>
              <div class="py-2 text-center ">
                <a class="btn btn-flat-primary mr-0" routerLink="/dashboard/pro">ANGULAR</a>
                <button class="btn btn-flat-info mr-0">HTML 5</button>
              </div>
            </div>

          </div>

        </div>
        <div class="col-12 col-lg-4 px-8 py-8">
          <div class="page-demo">
            <div class="page-demo-image mb-8 text-center">
              <img src="assets/img/project.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">
            </div>
            <div class="page-demo-text text-center">
              <h4>Project</h4>
              <p class="text-secondary">
                Use this Page for your project landing. Showcase priority tasks and subtasks.

              </p>
              <div class="py-2 text-center ">
                <a class="btn btn-flat-primary mr-0" routerLink="/projects/single">ANGULAR</a>
                <button class="btn btn-flat-info mr-0">HTML 5</button>
              </div>
            </div>

          </div>

        </div>
        <div class="col-12 col-lg-4 px-8 py-8">
          <div class="page-demo">
            <div class="page-demo-image mb-8 text-center">
              <img src="assets/img/chat.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">
            </div>
            <div class="page-demo-text text-center">
              <h4>Chat</h4>
              <p class="text-secondary">
                Teamplate for easy User Friendly conversations Page

              </p>
              <div class="py-2 text-center ">
                <a class="btn btn-flat-primary mr-0" routerLink="/email/chat">ANGULAR</a>
                <button class="btn btn-flat-info mr-0">HTML 5</button>
              </div>
            </div>

          </div>

        </div>
        <div class="col-12 col-lg-4 px-8 py-8">
          <div class="page-demo">
            <div class="page-demo-image mb-8 text-center">
              <img src="assets/img/login.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">
            </div>
            <div class="page-demo-text text-center">
              <h4>Login</h4>
              <p class="text-secondary">
                Simple and Elegant Login Card, Pair with a light or solid background, or an Image

              </p>
              <div class="py-2 text-center ">
                <a class="btn btn-flat-primary mr-0" routerLink="/front/login">ANGULAR</a>
                <button class="btn btn-flat-info mr-0">HTML 5</button>
              </div>
            </div>

          </div>

        </div>
        <div class="col-12 col-lg-4 px-8 py-8">
          <div class="page-demo">
            <div class="page-demo-image mb-8 text-center">
              <img src="assets/img/calendar.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">
            </div>
            <div class="page-demo-text text-center">
              <h4>Calendar</h4>
              <p class="text-secondary">
                Showcase Important Events and Dates on this Calendar Page

              </p>
              <div class="py-2 text-center ">
                <a class="btn btn-flat-primary mr-0" routerLink="/calendar/full">ANGULAR</a>
                <button class="btn btn-flat-info mr-0">HTML 5</button>
              </div>
            </div>

          </div>

        </div>
        <div class="col-12 col-lg-4 px-8 py-8">
          <div class="page-demo">
            <div class="page-demo-image mb-8 text-center">
              <img src="assets/img/profile.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">
            </div>
            <div class="page-demo-text text-center">
              <h4>Profile</h4>
              <p class="text-secondary">
                Perfect for User Profile and Employee Page, showcase their latest Posts

              </p>
              <div class="py-2 text-center ">
                <a class="btn btn-flat-primary mr-0" routerLink="/user/profile">ANGULAR</a>
                <button class="btn btn-flat-info mr-0">HTML 5</button>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="py-14 bg-light">
    <div class="text-center">
      <h3 style="">People Talk About Us!</h3>
    </div>
    <div class="container mt-10">
      <div class="text-center">
        <ngb-carousel class="carousel-light carousel-slim">
          <ng-template ngbSlide>
            <div class="px-8 px-lg-14 pb-8">
              <img src="assets/img/face1.jpeg" alt="" class="img-thumb mb-4" style="width: 3.25rem; height: 3.25rem;">
              <p class="text-secondary">
                Never in all their history have men been able truly to conceive of the world as one,
                 a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals.

              </p>
              <h5 class="">
                - Peter Parker
              </h5>
            </div>

          </ng-template>

          <ng-template ngbSlide>
            <div class="px-8 px-lg-14 pb-8">
              <img src="assets/img/face2.jpeg" alt="" class="img-thumb mb-4" style="width: 3.25rem; height: 3.25rem;">
              <p class="text-secondary">
                Never in all their history have men been able truly to conceive of the world as one,
                 a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals.

              </p>
              <h5 class="">
                - Richard Parker
              </h5>
            </div>

          </ng-template>


        </ngb-carousel>

      </div>

    </div>
  </div>

  <div class="py-6 bg-white border-top">
    <div class="text-center">
      <h5 class="mb-0 text-secondary">Copyright geekman.site</h5>
    </div>
  </div>
</div>
