<button class="btn btn-danger btn-fab fixed-bottom-right" title="New Task"><i class="material-icons">add</i></button>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 col-12">
      <div class="card">
        <div class="card-header">
          <h5>Project Alpha</h5>
        </div>
        <div class="card-body pt-0">
          <p class="text-secondary">
            Science cuts two ways, of course; its products can be used for both good and evil.
             But there's no turning back from science. The early warnings about technological dangers also come from science.
          </p>

        </div>
        <div class="d-flex justify-content-between flex-h-grid border-top">
          <div class="py-3 text-center">
            <h4 class="text-primary">22</h4>
            <p class="m-0 text-secondary">Tasks</p>
          </div>
          <div class="py-3 text-center">
            <h4  class="text-success">118</h4>
            <p class="m-0  text-secondary">People</p>
          </div>
          <div class="py-3 text-center">
            <h4  class="text-info">4</h4>
            <p class="m-0  text-secondary">Teams</p>
          </div>
          <div class="py-3 text-center">
            <h4  class="text-danger">5</h4>
            <p class="m-0  text-secondary">Priority Tasks</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-12">
      <div class="card">
        <div class="card-header">
          <h5>People Involved</h5>
        </div>
        <div class="card-body pt-0">
          <div class="d-flex">
            <div>
              <img src="/assets/img/face4.jpeg" class="img-thumb mr-6" alt="">
            </div>
            <div>
              <h6 class="pt-1">
                Sarah Connor
              </h6>
              <p class="text-secondary my-0 text-sm">Project Lead</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div>
            <a>
              <img src="/assets/img/face1.jpeg" class="img-thumb-xs mr-1" alt="">
            </a>
            <a>
              <img src="/assets/img/face2.jpeg" class="img-thumb-xs" alt="">
            </a>
            <a>
              <img src="/assets/img/face3.jpeg" class="img-thumb-xs" alt="">
            </a>
            <a>
              <img src="/assets/img/face4.jpeg" class="img-thumb-xs" alt="">
            </a>
            <a>
              <img src="/assets/img/face5.jpeg" class="img-thumb-xs" alt="">
            </a>

          </div>
          <p class="mb-0 py-2 text-secondary text-sm">
            <a class="text-info">Kim</a>, <a class="text-info">Joel</a>, <a class="text-info">Raj</a> and <a class="text-info"> 55 Others </a> are assigned to this Project
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5 class="section-title">
        Pinned Tasks
      </h5>
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <div class="card-feature float-right">
                <div class="media-box media-box-sm bg-primary text-white">
                  <i class="material-icons">bookmark</i>
                </div>
              </div>
              <h5 class="card-title"> Technical Documentation </h5>
              <p class="text-secondary text-sm">
                <i class="material-icons text-secondary mr-1">event</i>
                  Jan 31 2018
              </p>
              <p class="text-secondary" style="max-width:80%">
                The path of a cosmonaut is not easy.
              </p>
              <div class="subtasks ">
                <div class="subtask py-3">
                  <h6 class="text-secondary">Gather Data</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" style="width:80%"></div>
                  </div>
                </div>
                <div class="subtask py-3">
                  <h6 class="text-secondary">Grammar Check</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" style="width:20%"></div>
                  </div>
                </div>
                <div class="subtask py-3">
                  <h6 class="text-secondary"> Technical Quality Check</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" style="width:50%"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex p-0">
              <div style="width:100%">
                <button class="btn btn-block btn-lg btn-flat-info">
                  <i class="material-icons">add</i> <br>
                </button>
              </div>

              <div style="width:100%">
                <button class="btn btn-block btn-lg btn-flat-secondary">
                  <i class="material-icons">done_all</i>
                </button>
              </div>
              <div style="width:100%">
                <button class="btn btn-block btn-lg btn-flat-primary">
                  <i class="material-icons">bookmark</i>
                </button>
              </div>

            </div>

          </div>
        </div>

        <div class="col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <div class="card-feature float-right">
                <div class="media-box media-box-sm bg-primary text-white">
                  <i class="material-icons">bookmark</i>
                </div>
              </div>
              <h5 class="card-title"> Development Env Setup </h5>
              <p class="text-secondary text-sm">
                <i class="material-icons text-secondary mr-1">event</i>
                  Jan 31 2018
              </p>
              <p class="text-secondary" style="max-width:80%">
                We have an infinite amount to learn from nature.
              </p>
              <div class="subtasks ">
                <div class="subtask py-3">
                  <h6 class="text-secondary">Sepcification Design</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-primary" style="width:60%"></div>
                  </div>
                </div>
                <div class="subtask py-3">
                  <h6 class="text-secondary">Server Setup</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" style="width:40%"></div>
                  </div>
                </div>
                <div class="subtask py-3">
                  <h6 class="text-secondary">UI Setup</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" style="width:20%"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex p-0">
              <div style="width:100%">
                <button class="btn btn-block btn-lg btn-flat-info">
                  <i class="material-icons">add</i> <br>
                </button>
              </div>

              <div style="width:100%">
                <button class="btn btn-block btn-lg btn-flat-secondary">
                  <i class="material-icons">done_all</i>
                </button>
              </div>
              <div style="width:100%">
                <button class="btn btn-block btn-lg btn-flat-primary">
                  <i class="material-icons">bookmark</i>
                </button>
              </div>

            </div>

          </div>
        </div>

        <div class="col-lg-4 col-12">
          <div class="card">
            <div class="card-body">
              <div class="card-feature float-right">
                <div class="media-box media-box-sm bg-primary text-white">
                  <i class="material-icons">bookmark</i>
                </div>
              </div>
              <h5 class="card-title"> Unit Testing Setup </h5>
              <p class="text-secondary text-sm">
                <i class="material-icons text-secondary mr-1">event</i>
                  Jan 31 2018
              </p>
              <p class="text-secondary" style="max-width:80%">
                We have an infinite amount to learn from nature.
              </p>
              <div class="subtasks ">
                <div class="subtask py-3">
                  <h6 class="text-secondary">Setup Selenium</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" style="width:50%"></div>
                  </div>
                </div>
                <div class="subtask py-3">
                  <h6 class="text-secondary">Train Team</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" style="width:90%"></div>
                  </div>
                </div>
                <div class="subtask py-3">
                  <h6 class="text-secondary">Complete Test Cases</h6>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" style="width:10%"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex p-0">
              <div style="width:100%">
                <button class="btn btn-block btn-lg btn-flat-info">
                  <i class="material-icons">add</i> <br>
                </button>
              </div>

              <div style="width:100%">
                <button class="btn btn-block btn-lg btn-flat-secondary">
                  <i class="material-icons">done_all</i>
                </button>
              </div>
              <div style="width:100%">
                <button class="btn btn-block btn-lg btn-flat-primary">
                  <i class="material-icons">bookmark</i>
                </button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="section-title">
          Tasks

        </h5>
        <button class="btn btn-link text-primary"><i class="material-icons mr-1">add_circle</i> Add New Task</button>
      </div>

      <div class="card">
        <div class="card-header">
          <h5>All Tasks</h5>
        </div>
        <div class="card-body px-0 pt-0" >
          <table class="table table-middle table-material rt-md">
            <thead class="rt-table-hide">
              <tr>

                <th>
                  Task and Description
                </th>
                <th>
                  Due Date
                </th>
                <th>
                  Subtasks
                </th>
                <th>
                  Teams
                </th>
                <th>
                  Leader
                </th>
                <th>
                  Progress
                </th>
              </tr>


            </thead>
            <tbody>
              <tr>
                <td class="rt-header">
                  <i class="material-icons text-warning mr-3">info</i>
                  Technical Documentation
                </td>
                <td class="rt-full text-sm">
                  <i class="material-icons text-secondary mr-1" style="vertical-align:middle; line-height: 1">event</i>
                    Today <span class="text-secondary ml-1 d-none rt-table-inline">Due Date</span>
                </td>
                <td class="rt-full">
                  14 <span class="text-secondary ml-1 d-none rt-table-inline">Subtasks</span>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Teams
                  </div>
                  <span><a href="#">Dev</a>, <a href="#">Testing</a></span>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Leader
                  </div>
                  <a href="#"> Jason Johnson</a>
                </td>
                <td style="width: 15rem" class="rt-full">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-success" style="width:70%"></div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="rt-header">
                  <i class="material-icons text-danger mr-3">info</i>
                   Development Env Setup
                </td>
                <td class="rt-full text-sm">
                  <i class="material-icons text-secondary mr-1" style="vertical-align:middle; line-height: 1">event</i>
                    Jan 12 2018 <span class="text-secondary ml-1 d-none rt-table-inline">Due Date</span>
                </td>
                <td class="rt-full">
                  14 <span class="text-secondary ml-1 d-none rt-table-inline">Subtasks</span>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Teams
                  </div>
                  <span><a href="#">HR</a>, <a href="#">Research</a></span>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Leader
                  </div>
                  <a href="#"> Uhuran L</a>
                </td>
                <td style="width: 15rem" class="rt-full">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-danger" style="width:30%"></div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="rt-header">
                  <i class="material-icons text-secondary mr-3">info</i>
                  Unit Testing Setup
                </td>
                <td class="rt-full text-sm">
                  <i class="material-icons text-secondary mr-1" style="vertical-align:middle; line-height: 1">event</i>
                    March 12 2018 <span class="text-secondary ml-1 d-none rt-table-inline">Due Date</span>
                </td>
                <td class="rt-full">
                  14 <span class="text-secondary ml-1 d-none rt-table-inline">Subtasks</span>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Teams
                  </div>
                  <span><a href="#">Quality Control</a>, <a href="#">R&D</a></span>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Leader
                  </div>
                  <a href="#"> Trisha Nimoy</a>
                </td>
                <td style="width: 15rem" class="rt-full">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-warning" style="width:50%"></div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="rt-header">
                  <i class="material-icons text-secondary mr-3">info</i>
                  Prepare Warp Drive
                </td>
                <td class="rt-full text-sm">
                  <i class="material-icons text-secondary mr-1" style="vertical-align:middle; line-height: 1">event</i>
                    Feb 1 2018 <span class="text-secondary ml-1 d-none rt-table-inline">Due Date</span>
                </td>
                <td class="rt-full">
                  14 <span class="text-secondary ml-1 d-none rt-table-inline">Subtasks</span>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Teams
                  </div>
                  <span><a href="#">R&amp;D</a></span>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Leader
                  </div>
                  <a href="#"> Trisha Nimoy</a>
                </td>
                <td style="width: 15rem" class="rt-full">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-success" style="width:70%"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
