<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-header">
          <h5>Progress</h5>
        </div>
        <div class="card-body">
          <p class="text-secondary">
            Simplify Admin expands the already great Progress <code>.progress</code> variations provided by bootstrap to include even more styles and colors.
          </p>
          <p class="text-secondary">
            We recomment using thin material progress bars
          </p>

        </div>
      </div>
    </div>
  </div>
  <h5 class="section-title">
    Progress Variations
  </h5>
  <div class="row">
    <div class="col-lg-7 col-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Progress
          </h5>

          <div class="demo">
            <p class="py-1 text-secondary">
              Use a <code>.bg-[variation]</code> class to generate a colored progress bar
            </p>

            <div class="progress mb-6">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-secondary">
              Use a <code>.bg-primary</code> class to Primary progress bar
            </p>
            <div class="progress mb-6">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-secondary">
              Use a <code>.bg-success</code> class to Success progress bar
            </p>
            <div class="progress mb-6">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class=" text-secondary">
              Use a <code>.bg-info</code> class to Info progress bar
            </p>
            <div class="progress mb-6">
              <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-secondary">
              Use a <code>.bg-danger</code> class to Danger progress bar
            </p>
            <div class="progress mb-6">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="text-secondary">
              Use a <code>.bg-warning</code> class to Warning progress bar
            </p>
            <div class="progress mb-6">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <p class="text-secondary pt-0">
              You can also use <code>.bg-dark</code>, <code>.bg-secondary</code>, <code>.bg-light</code> classes
            </p>
          </div>

        </div>
      </div>



    </div>
    <div class="col-lg-5 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Thin Progress Bars
          </h5>

          <div class="demo">
            <p class="py-1 text-secondary">
              Use a <code>.progress-thin</code> or <code>.progress-sm</code> with  <code>.progress</code> for a material style.

            </p>


            <p class=" mb-1 text-secondary">
              Primary
            </p>
            <div class="progress progress-thin mb-6">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mb-1 text-secondary">
              Success
            </p>
            <div class="progress progress-thin mb-6">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mb-1 text-secondary">
              Info
            </p>
            <div class="progress progress-thin mb-6">
              <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class=" mb-1 text-secondary">
              Danger
            </p>
            <div class="progress progress-thin mb-6">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mb-1 text-secondary">
              Warning
            </p>
            <div class="progress progress-thin mb-6">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <p class="mb-1 text-secondary">
            Dark
          </p>
          <div class="progress progress-thin mb-6">
            <div class="progress-bar bg-dark" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>


        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5>Card Progress</h5>
        </div>
        <div class="card-body pt-0">

          <p class="text-secondary mb-0">Add a progress after card body whith <code>.progress-xs</code> to show a card progress</p>
        </div>
        <div class="progress progress-xs">
          <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-header">
          <h5>Verical Progress</h5>
        </div>
        <div class="card-body pt-0">
            <p class="text-secondary mb-0">Use<code>.progress-vertical</code> for a vertical progress bar</p>
            <div class="d-flex">
              <div class="demo py-3 px-2">

                <div class="progress progress-thin progress-vertical ml-2">
                  <div class="progress-bar bg-dark" role="progressbar" style="height: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="demo py-3 px-2">

                <div class="progress progress-thin progress-vertical ml-2">
                  <div class="progress-bar bg-primary" role="progressbar" style="height: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            <div class="demo py-3 px-2">

              <div class="progress progress-thin progress-vertical ml-2">
                <div class="progress-bar bg-info" role="progressbar" style="height: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          <div class="demo py-3 px-2">

            <div class="progress progress-thin progress-vertical ml-2">
              <div class="progress-bar bg-warning" role="progressbar" style="height: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="demo py-3 px-2">

            <div class="progress progress-thin progress-vertical ml-2">
              <div class="progress-bar bg-danger" role="progressbar" style="height: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        <div class="demo py-3 px-2">

          <div class="progress progress-thin progress-vertical ml-2">
            <div class="progress-bar bg-success" role="progressbar" style="height: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        </div>
        <p class="text-secondary mb-0">Use<code>.progress-vertical</code> for a vertical progress bar</p>
        <div class="d-flex">
          <div class="demo py-3 px-2">

            <div class="progress progress-vertical ml-2">
              <div class="progress-bar bg-dark" role="progressbar" style="height: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="demo py-3 px-2">

            <div class="progress progress-vertical ml-2">
              <div class="progress-bar bg-primary" role="progressbar" style="height: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        <div class="demo py-3 px-2">

          <div class="progress progress-vertical ml-2">
            <div class="progress-bar bg-info" role="progressbar" style="height: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      <div class="demo py-3 px-2">

        <div class="progress progress-vertical ml-2">
          <div class="progress-bar bg-warning" role="progressbar" style="height: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="demo py-3 px-2">

        <div class="progress progress-vertical ml-2">
          <div class="progress-bar bg-danger" role="progressbar" style="height: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    <div class="demo py-3 px-2">

      <div class="progress progress-vertical ml-2">
        <div class="progress-bar bg-success" role="progressbar" style="height: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    </div>



        </div>
      </div>
    </div>
  </div>
</div>
