.sidebar {
  width: $sidebar-size;
  background: white;
  color: inherit;
  min-height: 100vh;
  border-right: 1px solid $gray-200;

}


.sidebar-dark {
  background: darken($dark,10%);
}
$sidebar-padding-y : 0.3rem;
.sidebar-brand {
  position: relative;
  height: $topbar-size;
  padding: 0.3rem 1.3rem;
  line-height: ($topbar-size - (2 * $sidebar-padding-y));
  font-size: 1.3em;

}
$logo-size: 2.5rem;

.sidebar-header {
  font-weight: 400;
  .logo {
    top: ($topbar-size - $logo-size)/2;
    right: 1.4rem;
    position:absolute;
    height: $logo-size;
    width: $logo-size;
    text-align: center;
    line-height: $logo-size;
    background-color: rgba(255,255,255,0.1);
    border-radius: 2px;
    .material-icons {
      line-height: $logo-size;
      font-size: 1.6rem;
    }
  }
}
