.sidebar {
  width: $sidebar-size;
  background: white;
  color: inherit;
  min-height: 100vh;
  border-right: 1px solid $gray-200;
}
.sidebar-dark {
  background: darken($dark,9%);
  border-right: 0;
}
.sidebar-brand {
  position: relative;
  height: $topbar-size;
  padding: 0.3rem 1.3rem;
  line-height: ($topbar-size - (2 * $sidebar-padding-y));
  font-size: 1.3em;

}
.sidebar-header {
  font-weight: 400;
  .logo {
    top: ($topbar-size - $sidebar-logo-size)/2;
    right: 1.4rem;
    position:absolute;
    height: $sidebar-logo-size;
    width: $sidebar-logo-size;
    text-align: center;
    line-height: $sidebar-logo-size;
    background-color: rgba(255,255,255,0.1);
    border-radius: 2px;
    .material-icons {
      line-height: $sidebar-logo-size;
      font-size: 1.6rem;
    }
  }
}
