.table {
  thead {
    tr {
      td,th {
        border-bottom-width: 1px;

      }
    }
  }
  thead,tbody {
    tr {
      th {
        font-weight: 500;
      }
    }
  }
}
.table.table-middle {
  tbody {
    tr {
      td,th {
        vertical-align: middle;
      }
    }
  }
}
.table.table-compact {
  thead,tbody {
    tr {
      td,th {
        padding: 0.75rem 0.5rem;
      }
    }
  }
}
.table-material {
  thead,tbody {
    tr {
      td,th {
        &:first-child {
          padding-left: 2rem;
        }
        &:last-child {
          padding-right: 2rem;
        }
      }
    }
  }
}
