.topbar {
  height: $topbar-size;
  .nav-item {
    display: flex;
    align-items: center;
  }
  border-bottom: 1px solid $gray-200;
}
.nav-link {
  position: relative;
  color: inherit;
  cursor: pointer;
  span.badge {
    float: right;
    position: relative;
    right: 0.75rem;
    top:-0.25rem;
    border-radius: 50%;
    font-size: 0.6rem;
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    padding: 0;
    text-align: center;
  }
}

.dropdown-menu {
  padding: 0;
  border-color: $gray-200;
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
  .dropdown-item {
    padding: 0.75rem 1rem;
    color: $gray-700;
    &:hover {
      background: $gray-100;
    }
  }

}
