<div class="container-fluid">
  <h5 class="px-2 pb-3">
    Pricing
  </h5>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-feature float-right">
            <div class="media-box media-box-sm bg-primary text-white">
              <i class="material-icons">file_download</i>
            </div>
          </div>
          <h5 class="mb-1">
            Basic
          </h5>
          <p class="text-secondary">
            Good for Beginners
          </p>
          <div class="py-1">
            <h2 class="text-primary mb-0">
              20.00$
            </h2>
            <p class="text-sm text-secondary">Billed Monthly with Annual Commitment</p>

          </div>
          <div class="py-2">
            <ul class="block-list text-secondary">
              <li class="mb-3">
                <div class="text-lg text-dark">
                  100 GB
                </div> GigaBytes Cloud Space
              </li>
              <li class="mb-3">
                <div class="text-lg text-dark">
                  5 GB
                </div> GigaBytes Bandwidth
              </li>
              <li class="mb-3">
                <div class="text-lg text-dark">
                  24x7
                </div> Email, Chat and Phone Support
              </li>
            </ul>
          </div>
          <div class="py-2 mb-1">
            <button class=" btn btn-primary mr-2 mb-2">Purchase</button>
            <button class=" btn btn-secondary mb-2">Customize</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-feature float-right">
            <div class="media-box media-box-sm bg-info text-white">
              <i class="material-icons">file_download</i>
            </div>
          </div>
          <h5 class="mb-1">
            Professional
          </h5>
          <p class="text-secondary">
            Good for Professionals
          </p>
          <div class="py-1">
            <h2 class="text-info mb-0">
              60.00$
            </h2>
            <p class="text-sm text-secondary">Billed Monthly with Annual Commitment</p>

          </div>
          <div class="py-2">
            <ul class="block-list text-secondary">
              <li class="mb-3">
                <div class="text-lg text-dark">
                  800 GB
                </div> GigaBytes Cloud Space
              </li>
              <li class="mb-3">
                <div class="text-lg text-dark">
                  75 GB
                </div> GigaBytes Bandwidth
              </li>
              <li class="mb-3">
                <div class="text-lg text-dark">
                  24x7
                </div> Email, Chat and Phone Support
              </li>
            </ul>
          </div>
          <div class="py-2 mb-1">
            <button class=" btn btn-info mr-2 mb-2">Purchase</button>
            <button class=" btn btn-secondary mb-2">Customize</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-feature float-right">
            <div class="media-box media-box-sm bg-success text-white">
              <i class="material-icons">file_download</i>
            </div>
          </div>
          <h5 class="mb-1">
            Enterprise
          </h5>
          <p class="text-secondary">
            Good for Companies
          </p>
          <div class="py-1">
            <h2 class="text-success mb-0">
              500.00$
            </h2>
            <p class="text-sm text-secondary">Billed Monthly with Annual Commitment</p>

          </div>
          <div class="py-2">
            <ul class="block-list text-secondary">
              <li class="mb-3">
                <div class="text-lg text-dark">
                  Unlimited
                </div> GigaBytes Cloud Space
              </li>
              <li class="mb-3">
                <div class="text-lg text-dark">
                  Unlimited
                </div> GigaBytes Bandwidth
              </li>
              <li class="mb-3">
                <div class="text-lg text-dark">
                  24x7
                </div> Email, Chat and Phone Support
              </li>
            </ul>
          </div>
          <div class="py-2 mb-1">
            <button class=" btn btn-success mr-2 mb-2">Purchase</button>
            <button class=" btn btn-secondary mb-2">Customize</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
