<div class="container-fluid">
  <div class="row">


  <div class="col-12">
    <h5 class="mb-3 px-2">Tabs</h5>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-4">Material Tabs</h5>
        <p class="text-secondary mb-0">
          Add <code>Use .nav-material</code> on tabs for modern material styled tabs. If you are using ng-bootstrap add <code>type="material"</code>
        </p>
      </div>
      <div class="card-body px-0 py-0">

        <ngb-tabset type="material">
          <ngb-tab title="Star Trek">
            <ng-template ngbTabContent>
              <div class="py-3 px-4">
                <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally,it is a task to occupy the generations.
                <br> And no matter how much progress one makes, there is always the thrill of just beginning.</p>
              </div>

            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><strong>S</strong>tar Wars</ng-template>
            <ng-template ngbTabContent>
              <div class="py-3 px-4">
              <p>If you could see the earth illuminated when you were in a place as dark as night, it would look to you more splendid than the moon.</p>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Disabled" [disabled]="true">
            <ng-template ngbTabContent>
              <div class="py-3 px-4">
              <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . </p>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>

    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-4">Pill Tabs</h5>
        <p class="text-secondary mb-0">
          Add <code>Use .nav-pills</code> on tabs for pill tabs. If you are using ng-bootstrap add <code>type="pills"</code>
        </p>
      </div>
      <div class="card-body py-0">

        <ngb-tabset type="pills">
          <ngb-tab title="Star Trek">
            <ng-template ngbTabContent>
              <div class="py-4 px-2">
              <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally,it is a task to occupy the generations.
              <br> And no matter how much progress one makes, there is always the thrill of just beginning.</p>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><strong>S</strong>tar Wars</ng-template>
            <ng-template ngbTabContent>
              <div class="py-4 px-2">
              <p>If you could see the earth illuminated when you were in a place as dark as night, it would look to you more splendid than the moon.</p>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Disabled" [disabled]="true">
            <ng-template ngbTabContent>
              <div class="py-4 px-2">
              <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . </p>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>

    </div>
  </div>
  </div>
</div>
