<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-body p-0">
          <div class="search-box p-6 border-bottom">
            <div class="input-group">
            <input aria-describedby="searchaddon" aria-label="Search Field" class="form-control" value="John Doe" type="text">
            <span class="input-group-addon bg-white" id="searchaddon"><i class="material-icons">search</i></span>
          </div>

          </div>
          <div class="search-results  px-6">
            <div class="search-results-people border-bottom pt-6">
              <h5 class="text-secondary">People</h5>

              <div class="search-person py-6">
                <div class="media">
                  <img src="assets/img/face1.jpeg" class="img-thumb-xl img-thumb-sq">
                  <div class="media-body ml-4">
                    <h4 class="text-info font-weight-normal mb-2">John Doe</h4>
                    <h6 class="text-secondary">
                      Captain and Science Officer
                    </h6>
                    <p class="text-secondary mb-2">
                      UN Spaceship - Houston Base.
                    </p>
                    <p class="text-info mb-0">
                      109 Common Friends
                    </p>
                  </div>
                </div>


              </div>

              <div class="search-person border-top py-6">
                <div class="media">
                  <img src="assets/img/face4.jpeg" class="img-thumb-xl img-thumb-sq">
                  <div class="media-body ml-4">
                    <h4 class="text-info font-weight-normal mb-2">Jane Doe</h4>
                    <h6 class="text-secondary">
                      Chief Linguist
                    </h6>
                    <p class="text-secondary mb-2">
                      EU Spaceship - Peterson Base.
                    </p>
                    <p class="text-info mb-0">
                      19 Common Friends
                    </p>
                  </div>
                </div>


              </div>



            </div>

            <div class="search-results-web py-6">
              <h5 class="text-secondary">Web</h5>

              <div class="search-web py-6">
                <div class="search-web-title mb-2">
                  <h5 class="text-info">
                    John Doe - The Space Captain we all Love
                  </h5>
                  <p class="mb-0"><a class="text-info">https://geekman.site/simplify/</a></p>
                </div>
                <div class="search-web-content">
                  <p class="text-secondary mb-0">
                    As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
                  </p>
                </div>

              </div>

              <div class="search-web py-6 border-top">
                <div class="search-web-title mb-2">
                  <h5 class="text-info">
                    Headlines Flas: John Doe can speak 175 Languges
                  </h5>
                  <p class="mb-0"><a class="text-info">https://geekman.site/simplify/</a></p>
                </div>
                <div class="search-web-content">
                  <p class="text-secondary mb-0">
                    We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills
                  </p>
                </div>

              </div>

              <div class="search-web py-6 border-top">
                <div class="search-web-title mb-2">
                  <h5 class="text-info">
                    Houston, Tranquillity Base here.
                  </h5>
                  <p class="mb-0"><a class="text-info">https://geekman.site/simplify/</a></p>
                </div>
                <div class="search-web-content">
                  <p class="text-secondary mb-0">
                    As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
                  </p>
                </div>

              </div>

              <div class="search-web py-6 border-top">
                <div class="search-web-title mb-2">
                  <h5 class="text-info">
                    Problems look mighty small from 150 miles up.
                  </h5>
                  <p class="mb-0"><a class="text-info">https://geekman.site/simplify/</a></p>
                </div>
                <div class="search-web-content">
                  <p class="text-secondary mb-0">
                    We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills
                  </p>
                </div>

              </div>

              <div class="search-web py-6 border-top">
                <div class="search-web-title mb-2">
                  <h5 class="text-info">
                    We have an infinite amount to learn
                  </h5>
                  <p class="mb-0"><a class="text-info">https://geekman.site/simplify/</a></p>
                </div>
                <div class="search-web-content">
                  <p class="text-secondary mb-0">
                    As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
                  </p>
                </div>

              </div>

              <div class="search-web py-6 border-top">
                <div class="search-web-title mb-2">
                  <h5 class="text-info">
                    We choose to go to the moon
                  </h5>
                  <p class="mb-0"><a class="text-info">https://geekman.site/simplify/</a></p>
                </div>
                <div class="search-web-content">
                  <p class="text-secondary mb-0">
                    We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills
                  </p>
                </div>

              </div>

            </div>

            <div class="py-6 d-flex justify-content-around">
              <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
</div>
