<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="search-box p-6 border-bottom">
            <div class="input-group">
            <input aria-describedby="searchaddon" aria-label="Search Field" class="form-control" value="John Doe" type="text">
            <span class="input-group-addon bg-white" id="searchaddon"><i class="material-icons">search</i></span>
          </div>

          </div>
          <div class="row no-gutters">
            <div class="col-12 col-lg-8">
              <div class="search-results border-right px-6">

                <div class="search-results-people border-bottom pt-6">
                  <h5 class="text-secondary">People</h5>

                  <div class="search-person py-6">
                    <div class="media">
                      <img src="assets/img/face1.jpeg" class="img-thumb-xl img-thumb-sq">
                      <div class="media-body ml-4">
                        <h4 class="text-info font-weight-normal mb-2">John Doe</h4>
                        <h6 class="text-secondary">
                          Captain and Science Officer
                        </h6>
                        <p class="text-secondary mb-2">
                          UN Spaceship - Houston Base.
                        </p>
                        <p class="text-info mb-0">
                          109 Common Friends
                        </p>
                      </div>
                    </div>


                  </div>

                  <div class="search-person border-top py-6">
                    <div class="media">
                      <img src="assets/img/face4.jpeg" class="img-thumb-xl img-thumb-sq">
                      <div class="media-body ml-4">
                        <h4 class="text-info font-weight-normal mb-2">Jane Doe</h4>
                        <h6 class="text-secondary">
                          Chief Linguist
                        </h6>
                        <p class="text-secondary mb-2">
                          EU Spaceship - Peterson Base.
                        </p>
                        <p class="text-info mb-0">
                          19 Common Friends
                        </p>
                      </div>
                    </div>


                  </div>



                </div>

                <div class="search-results-web py-6">
                  <h5 class="text-secondary">Web</h5>

                  <div class="search-web py-6">
                    <div class="search-web-title mb-2">
                      <h5 class="text-info">
                        John Doe - The Space Captain we all Love
                      </h5>
                      <p class="mb-0"><a class="text-cyan">https://geekman.site/simplify/</a></p>
                    </div>
                    <div class="search-web-content">
                      <p class="text-secondary mb-0">
                        As I stand out here in the <strong>wonders</strong> of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
                      </p>
                    </div>

                  </div>

                  <div class="search-web py-6 border-top">
                    <div class="search-web-title mb-2">
                      <h5 class="text-info">
                        Headlines Flas: John Doe can speak 175 Languges
                      </h5>
                      <p class="mb-0"><a class="text-cyan">https://geekman.site/simplify/</a></p>
                    </div>
                    <div class="search-web-content">
                      <p class="text-secondary mb-0">
                        We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills
                      </p>
                    </div>

                  </div>

                  <div class="search-web py-6 border-top">
                    <div class="search-web-title mb-2">
                      <h5 class="text-info">
                        Houston, Tranquillity Base here.
                      </h5>
                      <p class="mb-0"><a class="text-cyan">https://geekman.site/simplify/</a></p>
                    </div>
                    <div class="search-web-content">
                      <p class="text-secondary mb-0">
                        As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
                      </p>
                    </div>

                  </div>

                  <div class="search-web py-6 border-top">
                    <div class="search-web-title mb-2">
                      <h5 class="text-info">
                        Problems look mighty small from 150 miles up.
                      </h5>
                      <p class="mb-0"><a class="text-cyan">https://geekman.site/simplify/</a></p>
                    </div>
                    <div class="search-web-content">
                      <p class="text-secondary mb-0">
                        We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills
                      </p>
                    </div>

                  </div>

                  <div class="search-web py-6 border-top">
                    <div class="search-web-title mb-2">
                      <h5 class="text-info">
                        We have an infinite amount to learn
                      </h5>
                      <p class="mb-0"><a class="text-cyan">https://geekman.site/simplify/</a></p>
                    </div>
                    <div class="search-web-content">
                      <p class="text-secondary mb-0">
                        As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.
                      </p>
                    </div>

                  </div>

                  <div class="search-web py-6 border-top">
                    <div class="search-web-title mb-2">
                      <h5 class="text-info">
                        We choose to go to the moon
                      </h5>
                      <p class="mb-0"><a class="text-cyan">https://geekman.site/simplify/</a></p>
                    </div>
                    <div class="search-web-content">
                      <p class="text-secondary mb-0">
                        We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills
                      </p>
                    </div>

                  </div>

                </div>

                <div class="py-6 d-flex justify-content-around">
                  <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 d-none d-lg-block">
              <div class="featured-image mt-8 px-8">
                <img src="assets/img/iss.jpeg" alt="" class="img-fluid">
              </div>
              <div class="heading px-8 mt-4 border-bottom">
                <h4 class="text-info">John Doe International Station</h4>
                <p class="">Space Station</p>
              </div>
              <div class="details px-8 py-4 font-weight-light">
                <p>
                You know, being a test pilot isn't always the healthiest business in the world.
                Here men from the planet Earth first set foot upon the Moon. July 1969 AD. We came in peace for all mankind.
                </p>
                <p>
                Many say exploration is part of our destiny, but it’s actually our duty to future generations and their quest to ensure the survival of the human species.
                </p>
                <p>
                  From <a class="text-info font-weight-bold">Wikipedia</a>
                </p>

              </div>
              <div class="also px-8 py-4">
                <h5>
                  People Also Search For
                </h5>
                <ul class="d-block p-0 m-0">
                  <li class="d-block p-0 m-0 mb-2">
                    <a href="" class="text-info">Jane Doe</a>
                  </li>
                  <li class="d-block p-0 m-0 mb-2">
                    <a href="" class="text-info">John Doe Photos</a>
                  </li>
                  <li class="d-block p-0 m-0 mb-2">
                    <a href="" class="text-info">The Doe Space Station</a>
                  </li>
                </ul>
                <p></p>

              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>
