<button class="btn btn-danger btn-fab fixed-bottom-right" title="New Project"><i class="material-icons">add</i></button>
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="d-flex">
          <div class="card-left-media px-4 bg-light d-flex align-items-center" style="border-right: 1px solid #eee">
            <div class="px-3  text-info" style="font-size: 1.75em">
              <i class="material-icons">mail</i>
            </div>

          </div>
          <div class="media-body">
            <div class="text-center py-4 px-4">
              <h3> 22 </h3>
              <p class="my-0 text-secondary">Running Projects</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="d-flex">
          <div class="card-left-media px-4 bg-light d-flex align-items-center" style="border-right: 1px solid #eee">
            <div class="px-3  text-success" style="font-size: 1.75em">
              <i class="material-icons">group</i>
            </div>

          </div>
          <div class="media-body">
            <div class="text-center py-4 px-4">
              <h3> 1222 </h3>
              <p class="my-0  text-secondary">People Employed</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="d-flex">
          <div class="card-left-media px-4 bg-light d-flex align-items-center" style="border-right: 1px solid #eee">
            <div class="px-3 text-primary" style="font-size: 1.75em">
              <i class="material-icons">group_work</i>
            </div>

          </div>
          <div class="media-body">
            <div class="text-center py-4 px-4">
              <h3> 122 </h3>
              <p class="my-0  text-secondary">Different Teams</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5 class="mb-3 py-2 px-2">
        Projects
        <button class="btn btn-link text-primary float-right"><i class="material-icons mr-1">add_circle</i> Start New Project</button>
      </h5>
      <div class="card">
        <div class="card-header">
          <h5>All Projects</h5>
        </div>
        <div class="card-body px-0">
          <table class="table table-middle table-material">
            <thead>
              <tr>
                <th class="text-secondary">
                  #
                </th>
                <th>
                  Project Title
                </th>
                <th>
                  Due Date
                </th>


                <th>
                  Lead
                </th>
                <th>
                  Budget
                </th>
                <th>
                  Progress
                </th>
              </tr>


            </thead>
            <tbody>
              <tr>
                <td>
                  <i class="material-icons text-secondary">info</i>
                </td>
                <td>
                  American Express Payment API
                </td>
                <td>
                  <i class="material-icons text-secondary" style="vertical-align:middle; line-height: 1">event</i>
                    Jan 12 2018
                </td>

                <td>
                  <a href="#"> Trisha Nimoy</a>
                </td>
                <td>
                  $ 23,500
                </td>
                <td style="width: 15rem">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-success" style="width:70%"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
