<button class="btn btn-danger btn-fab fixed-bottom-right" title="New Project"><i class="material-icons">add</i></button>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-12">
      <div class="card">
        <div class="d-flex">
          <div class="px-4 bg-light d-flex align-items-center border-right">
            <div class="px-3 text-info text-size-7">
              <i class="material-icons">mail</i>
            </div>

          </div>
          <div class="media-body">
            <div class="text-center py-4 px-4">
              <h3> 22 </h3>
              <p class="my-0 text-secondary">Running Projects</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="card">
        <div class="d-flex">
          <div class="px-4 bg-light d-flex align-items-center" style="border-right: 1px solid #eee">
            <div class="px-3 text-success text-size-7">
              <i class="material-icons">group</i>
            </div>

          </div>
          <div class="media-body">
            <div class="text-center py-4 px-4">
              <h3> 1222 </h3>
              <p class="my-0 text-secondary">People Employed</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="card">
        <div class="d-flex">
          <div class="px-4 bg-light d-flex align-items-center" style="border-right: 1px solid #eee">
            <div class="px-3 text-primary text-size-7">
              <i class="material-icons">group_work</i>
            </div>

          </div>
          <div class="media-body">
            <div class="text-center py-4 px-4">
              <h3> 122 </h3>
              <p class="my-0 text-secondary">Different Teams</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="section-title">
          Projects

        </h5>
        <button class="btn btn-link text-primary"><i class="material-icons mr-1">add_circle</i> Start New Project</button>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>All Projects</h5>
        </div>
        <div class="card-body px-0">
          <table class="table table-middle table-material rt-md">
            <thead class="rt-table-hide">
              <tr>

                <th>
                  Project Title
                </th>
                <th>
                  Due Date
                </th>


                <th>
                  Lead
                </th>
                <th>
                  Budget
                </th>
                <th>
                  Progress
                </th>
              </tr>


            </thead>
            <tbody>
              <tr>
                <td class="rt-header">
                  <i class="material-icons text-secondary mr-3">info</i> American Express Payment API
                </td>
                <td class="rt-full">
                  <i class="material-icons text-secondary" style="vertical-align:middle; line-height: 1">event</i>
                    Jan 12 2018  <span class="text-secondary ml-1 d-none rt-table-inline">Due Date</span>
                </td>

                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Project Lead
                  </div>
                  <img alt="" class="img-thumb-xs mr-3 align-middle" src="assets/img/face3.jpeg">
                  <a class="text-info"> Trisha Nimoy</a>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Budget
                  </div>
                  $ 23,500
                </td>
                <td class="rt-full" style="width: 15rem">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-info" style="width:60%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="rt-header">
                  <i class="material-icons text-secondary mr-3">info</i> Western Job Portal
                </td>
                <td class="rt-full">
                  <i class="material-icons text-secondary" style="vertical-align:middle; line-height: 1">event</i>
                    Feb 28 2018  <span class="text-secondary ml-1 d-none rt-table-inline">Due Date</span>
                </td>

                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Project Lead
                  </div>
                  <img alt="" class="img-thumb-xs mr-3 align-middle" src="assets/img/face4.jpeg">
                  <a class="text-info"> Sandy Rivers</a>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Budget
                  </div>
                  $ 123,500
                </td>
                <td class="rt-full" style="width: 15rem">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-danger" style="width:10%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="rt-header">
                  <i class="material-icons text-secondary mr-3">info</i> SpaceShip Bridge UI
                </td>
                <td class="rt-full">
                  <i class="material-icons text-secondary" style="vertical-align:middle; line-height: 1">event</i>
                    Jan 31 2018  <span class="text-secondary ml-1 d-none rt-table-inline">Due Date</span>
                </td>

                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Project Lead
                  </div>
                  <img alt="" class="img-thumb-xs mr-3 align-middle" src="assets/img/face5.jpeg">
                  <a class="text-info"> Peter Warsaw</a>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Budget
                  </div>
                  $ 425,000
                </td>
                <td class="rt-full" style="width: 15rem">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-warning" style="width:40%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="rt-header">
                  <i class="material-icons text-secondary mr-3">info</i> Mobile Phone Payment App
                </td>
                <td class="rt-full">
                  <i class="material-icons text-secondary" style="vertical-align:middle; line-height: 1">event</i>
                    Dec 12 2017  <span class="text-secondary ml-1 d-none rt-table-inline">Due Date</span>
                </td>

                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Project Lead
                  </div>
                  <img alt="" class="img-thumb-xs mr-3 align-middle" src="assets/img/face3.jpeg">
                  <a class="text-info"> Klaire Channing</a>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Budget
                  </div>
                  $ 44,300
                </td>
                <td class="rt-full" style="width: 15rem">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-warning" style="width:20%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="rt-header">
                  <i class="material-icons text-secondary mr-3">info</i> Stars of  Galaxy Movie vfx
                </td>
                <td class="rt-full">
                  <i class="material-icons text-secondary" style="vertical-align:middle; line-height: 1">event</i>
                    March 29 2018  <span class="text-secondary ml-1 d-none rt-table-inline">Due Date</span>
                </td>

                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Project Lead
                  </div>
                  <img alt="" class="img-thumb-xs mr-3 align-middle" src="assets/img/face1.jpeg">
                  <a class="text-info"> Kevin Lockhart</a>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Budget
                  </div>
                  $ 650,000
                </td>
                <td class="rt-full" style="width: 15rem">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-success" style="width:70%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="rt-header">
                  <i class="material-icons text-secondary mr-3">info</i> Server API for Dmel
                </td>
                <td class="rt-full">
                  <i class="material-icons text-secondary" style="vertical-align:middle; line-height: 1">event</i>
                    Jan 4 2018  <span class="text-secondary ml-1 d-none rt-table-inline">Due Date</span>
                </td>

                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Project Lead
                  </div>
                  <img alt="" class="img-thumb-xs mr-3 align-middle" src="assets/img/face2.jpeg">
                  <a class="text-info"> Trisha Nimoy</a>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Budget
                  </div>
                  $ 423,500
                </td>
                <td class="rt-full" style="width: 15rem">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-info" style="width:50%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="rt-header">
                  <i class="material-icons text-secondary mr-3">info</i>Keller Cross Inc, Website
                </td>
                <td class="rt-full">
                  <i class="material-icons text-secondary" style="vertical-align:middle; line-height: 1">event</i>
                    Feb 11 2018  <span class="text-secondary ml-1 d-none rt-table-inline">Due Date</span>
                </td>

                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Project Lead
                  </div>
                  <img alt="" class="img-thumb-xs mr-3 align-middle" src="assets/img/face3.jpeg">
                  <a class="text-info"> Ted Bear</a>
                </td>
                <td class="rt-full">
                  <div class="text-secondary mb-2 d-none rt-table-block">
                    Budget
                  </div>
                  $ 723,500
                </td>
                <td class="rt-full" style="width: 15rem">
                  <div class="progress progress-thin">
                    <div class="progress-bar bg-success" style="width:60%"></div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
