<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card d-flex flex-column" style="height:85vh;">
        <div class="chat-header d-flex align-items-center" style="border-bottom: 1px solid #eee">
          <div class="px-4 py-4 chat-part-list d-none d-md-block" style="width:19rem; border-right:1px solid #eee">
            <h5 class="mb-0">
              Conversations (<span class="text-primary">12</span>)
            </h5>
          </div>
          <div class="px-3 py-3 chat-part-chat d-flex align-items-center"  >
            <img src="assets/img/face2.jpeg" alt="Generic placeholder image" class="img-thumb-xs mr-2">
            <h5 class="ml-3 mb-0">
              Alex Rogers
            </h5>
          </div>
        </div>
        <div class="d-flex" style="overflow: hidden; height: 100%">

          <div class="contacts d-none d-md-block" style="width:19rem; border-right:1px solid #eee">
            <div [appScrollbar]="" style="height:100%; overflow:hidden; position: relative">
            <ul class="list-group border-top-0 border-left-0 border-right-0 list-group-linked">
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face1.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Seth Goldwin</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      I sort of realize there’s a fundamental truth to our natur
                    </p>

                  </div>

                </a>
              </li>
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face5.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Diana Laine</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      As I stand out here in the wonders of the unknown at Hadley
                    </p>

                  </div>

                </a>
              </li>
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face2.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Bruce Mighty</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      The Eagle has landed.
                    </p>

                  </div>

                </a>
              </li>
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face4.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Croc Killien</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      We are all connected; To each other, biologically.
                    </p>

                  </div>

                </a>
              </li>
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face3.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Derek Rain</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      It suddenly struck me that that tiny pea,
                    </p>

                  </div>

                </a>
              </li>
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face2.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Peter Clark</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      Many say exploration is part of our destiny
                    </p>

                  </div>

                </a>
              </li>
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face1.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Thomas Kent</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      The dreams of yesterday are the hopes of today
                    </p>

                  </div>

                </a>
              </li>
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face5.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Lilyt Parker</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      We predict too much for the next year
                    </p>

                  </div>

                </a>
              </li>
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face2.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Maxine Drekov</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      Science has not yet mastered prophecy.
                    </p>

                  </div>

                </a>
              </li>
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face4.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Kiara Runnner</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      To the rest of the universe atomically.
                    </p>

                  </div>

                </a>
              </li>
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face3.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Foxy Chann</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      To the earth, chemically
                    </p>

                  </div>

                </a>
              </li>
              <li class="list-group-item">
                <a  class="media" style="color: inherit; width:100%">
                  <img src="assets/img/face2.jpeg" alt="Generic placeholder image" class="img-thumb mr-2">
                  <div class="media-body ml-3" style="overflow: hidden">
                    <h6 class="mt-1 mb-1">Damien Park</h6>
                    <p class="text-secondary text-truncate mb-0" style="width:auto">
                      We are all connected; To each other, biologically
                    </p>

                  </div>

                </a>
              </li>


            </ul>

          </div>
          </div>
          <div class="d-flex flex-column justify-content-end" style="height:100%; width: 100%;">
            <div class="conversation p-3" style="width:100%; height:100%; overflow:hidden">
              <div [appScrollbar]="" currentPosition="end" style="height:100%; width: 100%; overflow:hidden; position: relative">
              <div class="chat-messages p-3 d-flex flex-column justify-content-end " style="position:relative; min-height:100%" >
                <div>
                <div class="chat-message-container  d-flex justify-content-start" style="width:100%">
                  <div class="chat-message py-2 display-hover-only-container" style="max-width:50%">
                    <div class="message px-4 py-3 bg-light">

                      That's one small step for [a] man, one giant leap for mankind.
                    </div>
                    <div class="pull-right display-hover-only-item">
                      <span class="text-sm">9:09 PM</span>
                    </div>
                  </div>
                </div>
                <div class="chat-message-container  d-flex justify-content-end" style="width:100%">
                  <div class="chat-message py-2 display-hover-only-container" style="max-width:50%">
                    <div class="message px-4 py-3 bg-light">

                      That's one small step for man, one giant leap for mankind.
                    </div>
                    <div class="pull-right display-hover-only-item">
                      <span class="text-sm">9:09 PM</span>
                    </div>
                  </div>
                </div>
                <div class="chat-message-container  d-flex justify-content-start" style="width:100%">
                  <div class="chat-message py-2 display-hover-only-container" style="max-width:50%">
                    <div class="message px-4 py-3 bg-light">

                      This is not the work of any one man or even a group of men.
                    </div>
                    <div class="pull-right display-hover-only-item">
                      <span class="text-sm">9:09 PM</span>
                    </div>
                  </div>
                </div>
                <div class="chat-message-container  d-flex justify-content-start" style="width:100%">
                  <div class="chat-message py-2 display-hover-only-container" style="max-width:50%">
                    <div class="message px-4 py-3 bg-light">

                      That's one small step for [a] man, one giant leap for mankind.
                    </div>
                    <div class="pull-right display-hover-only-item">
                      <span class="text-sm">9:09 PM</span>
                    </div>
                  </div>
                </div>
                <div class="chat-message-container  d-flex justify-content-start" style="width:100%">
                  <div class="chat-message py-2 display-hover-only-container" style="max-width:50%">
                    <div class="message px-4 py-3 bg-light">

                      As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature,
                       Man must explore . . . and this is exploration at its greatest.
                    </div>
                    <div class="pull-right display-hover-only-item">
                      <span class="text-sm">9:09 PM</span>
                    </div>
                  </div>
                </div>
                <div class="chat-message-container  d-flex justify-content-end" style="width:100%">
                  <div class="chat-message py-2 display-hover-only-container" style="max-width:50%">
                    <div class="message px-4 py-3 bg-light">

                      Buy why, some say, the moon? Why choose this as our goal? And they may as well ask why climb the highest mountain?
                    </div>
                    <div class="pull-right display-hover-only-item">
                      <span class="text-sm">9:09 PM</span>
                    </div>
                  </div>
                </div>
                <div class="chat-message-container  d-flex justify-content-end" style="width:100%">
                  <div class="chat-message py-2 display-hover-only-container" style="max-width:50%">
                    <div class="message px-4 py-3 bg-light">

                      We have an infinite amount to learn both from nature and from each other
                    </div>
                    <div class="pull-right display-hover-only-item">
                      <span class="text-sm">9:09 PM</span>
                    </div>
                  </div>
                </div>
                <div class="chat-message-container  d-flex justify-content-start" style="width:100%">
                  <div class="chat-message py-2 display-hover-only-container" style="max-width:50%">
                    <div class="message px-4 py-3 bg-light">

                      Spaceflights cannot be stopped!
                    </div>
                    <div class="pull-right display-hover-only-item">
                      <span class="text-sm">9:09 PM</span>
                    </div>
                  </div>
                </div>

                </div>
              </div>
              </div>
            </div>
            <div class="px-3 py-4 bg-light">
              <input type="text" class="form-control" placeholder="Your Message">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
