<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div appFullCalendar id="fullcalendar"></div>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Drag and Drop events
          </h5>
          <div appFullCalendarEvent class="fc-event bg-info text-white px-2 py-2 mb-3">Birthday</div>
          <div appFullCalendarEvent class="fc-event bg-info text-white px-2 py-2 mb-3">Team Meeting</div>
          <div appFullCalendarEvent class="fc-event bg-info text-white px-2 py-2 mb-3">Party!</div>
        </div>
      </div>
    </div>
  </div>
</div>
